{% layout "edm" %}
{% block title %}TID EDM{% endblock %}
{% block content %}



          <!-- Content Area -->
          <table class="container content-area">
            <tr>
              <td>

                <!-- content start -->
                                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <a href="http://www.travelinsurancedirect.com.au/campaigns/travel-scout"><img width="580" height="450" src="http://www.travelinsurancedirect.com.au//Media/Default/edm/travel-scout/travel-scout-header.jpg"></a>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            
                            <h3>Are you a passionate traveller with a few trips planned for the next year? </h3>
                            <p>Do you love taking photographs, making short videos or keeping a blog that captures your adventures from around the world?</p>
                            <p>You could become a TID Travel Scout and have the opportunity to share your experiences with other passionate travellers.</p>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">

                            <h3>What’s in it for you?</h3>
                            <p>TID Travel Scouts will be our official travel storytellers. 
                              You’ll receive an Annual Multi-Trip policy (that’s 12 months’ worth of coverage) and an iPad mini to take on the road. </p>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>


                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="five columns">
                        <tr>
                          <td class="left-text-pad">

                            <table class="button">
                              <tr>
                                <td>
                                  <a href="http://www.travelinsurancedirect.com.au/campaigns/travel-scout">Find out more</a>
                                </td>
                              </tr>
                            </table>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}