{% block title %}Travel Insurance Direct{% endblock %}
{% block content %}

<style type="text/css">
    @media only screen and (min-width: 40.063em) {
        .campaign-hero-bg {
            background-image: url('/Media/Default/campaigns/midyear16/tid-midyear16-herobg.png');
            background-position: bottom right;
            background-size: 225px 94px;
        }
    }
    @media only screen and (min-width: 64.063em) {
        .campaign-hero-bg {
            background-size: 377px 157px;
        }
    }
</style>

<div class="campaign">
    <section class="campaign-hero Hero">
        <div class="row">
            <div class="small-12 column">
                <div class="Hero-inner campaign-hero-bg">
                    <div class="Hero-content">
                        <h1 class="Hero-title Hero-copy">Travel just a TID smarter</h1>
                        <p class="Hero-intro Hero-copy">Know you're covered with simple, affordable travel cover from Australia's #1 online travel insurance specialist. <br>Get a FREE quote below.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <div id="sharetools-long">
        <div class="row">
            <div class="small-12 columns">
                <div id="socialarea">
                    <div id="sharedcount">
                        <div id="total"></div>
                        <p>Shares</p>
                    </div>
                    <div id="share-icons">
                        <a class="socialicon facebook" target="_blank"><span>Share on Facebook</span>&#xf09a;</a>
                        <a class="socialicon twitter" target="_blank"><span>Share on Twitter</span>&#xf099;</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<!-- ******* QQC GOES HERE ******* -->

<div class="campaign">
    <div class="campaign-fineprint row">
        <div class="small-12 column">
            <a href="https://www.travelinsurancedirect.com.au/pds"><small class="campaign-fineprint-detail">Read the PDS before buying</small></a>
        </div>
    </div>
    <section class="campaign-testimonials row">
        <div class="campaign-testimonials-slider small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
            <ul data-orbit>
                <li>
                    <div>
                        <h3 class="campaign-testimonials-title">Good coverage &amp; excellent service for a good price</h3>
                        <p>We found the cover to be very comprehensive and competitively priced and the service both pre and post travel and claim was excellent.</p>
                        <small class="campaign-testimonials-author">Carol</small>
                        <div class="trustpilot-widget" data-locale="en-US" data-template-id="5406e65db0d04a09e042d5fc" data-businessunit-id="5500023c0000ff00057df92a" data-style-height="28px" data-style-width="270px" data-theme="light">
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <h3 class="campaign-testimonials-title">TID is the Best forget about the Rest</h3>
                        <p>Great price and cover. Easy to communicate with and very prompt settlement of our claim. Will use TID always for all my travel insurance. They are fabulous!!!</p>
                        <small class="campaign-testimonials-author">Anna</small>
                        <div class="trustpilot-widget" data-locale="en-US" data-template-id="5406e65db0d04a09e042d5fc" data-businessunit-id="5500023c0000ff00057df92a" data-style-height="28px" data-style-width="270px" data-theme="light">
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <h3 class="campaign-testimonials-title">TID - big tick from us</h3>
                        <p>Taking out the insurance was easy and unfortunately we needed to claim. When we did the process was easy and the company's website easy to follow. I would definitely recommend TID, I would definitely use it again.</p>
                        <small class="campaign-testimonials-author">Andrew</small>
                        <div class="trustpilot-widget" data-locale="en-US" data-template-id="5406e65db0d04a09e042d5fc" data-businessunit-id="5500023c0000ff00057df92a" data-style-height="28px" data-style-width="270px" data-theme="light">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="campaign-features">
        <div class="row">
            <div class="medium-12 large-10 large-offset-1 columns">
                <h2 class="campaign-features-title">TID Cover - at a glance...</h2>
                <ul class="campaign-features-list">
                    <li>Unlimited medical cover overseas &amp; 24/7 emergency assistance </li>
                    <li>Unlimited cancellation for your trip Cover for your camera, phone, laptop &amp; luggage up to $12,000</li>
                    <li>Rental car excess up to $4000, saving you money when you rent a car</li>
                    <li>Cruises already included so no need to purchase special cover</li>
                    <li>Automatic cover for over 40 pre-existing conditions</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="campaign-promos">
        <div class="row">
            <div class="small-12 column">
                <h2 class="campaign-promos-title">Get travel smarts in your pocket</h2>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 columns">
                <img class="campaign-promos-tripwiseImg" src="/Media/Default/campaigns/midyear16/tid-midyear16-tripwise.jpg">
                <h3>Tripwise – #1 Mobile App</h3>
                <p>Our top-rated travel insurance app is your clever travel companion. It puts your policy details, emergency contacts and destination travel tips within easy reach. With our in-app purchase, you can even buy your next policy on the way to the airport.</p>
            </div>
            <div class="small-12 medium-6 columns">
                <img class="campaign-promos-travelmoneyImg" src="/Media/Default/campaigns/midyear16/tid-midyear16-travelmoney.jpg">
                <h3>TID’s Travel Money Card</h3>
                <p>With no upfront card costs or hidden fees, TID’s Travel Money Card makes your money go further. It locks in exchange rates when you load and allows you to spend in local currency so you don’t get hit with transaction or currency conversion fees when you make purchases or withdraw cash at ATMs.</p>
            </div>
        </div>
    </section>
    <div class="campaign-terms row">
        <div class="small-12 column">
            <small>Travel Insurance Direct is No.1 most visited online travel insurance website in Australia from January - March 2016 according to similarweb.com. Similarweb.com data is based on tracking of internet traffic.</small>
        </div>
    </div>
</div>

<!-- <script type="text/javascript" src="/Media/Default/js/tid-sharetool.min.js"></script> -->
<script type="text/javascript" src="/assets/js/tid-sharetool.js"></script>
<script type="text/javascript">
    socialshare( 'https://this.com', 'https://that.com' );
</script>

{% endblock %}
