{% block title %}TID Travel Scout Competition{% endblock %}
{% block content %}


<article class="content-item">
<div class="header-panel campaign-header blue-panel" id="header">
  <div class="row">
    <div class="small-12 medium-8 large-8 column">
      <h1 class="">TID Travel Scouts</h1>
      <p>Terms and conditions of entry.</p>
    </div>
  </div>
</div>
  
  
<div class="content-panel content">
  <div class="row">
    <div class="small-12 medium-8 large-8 columns">
    
    <style>
      ol {  margin-left: 2.2rem; }
      ol h3 { margin: 2rem 0 1.5rem 0; }  
      ol li { margin: 0.5rem 0 1rem 0; }  
      ol li li { margin: 0.5rem 0 0.5rem 0; }  
    </style>
      
    
      
    <h3>Who may enter</h3>
    <ol start="1">
      <li>
        The promotion is open to all Australian residents, over the age of 18, during the Promotion Period.</li>  
      <li>This promotion is not open to any employees or family members of Travel Insurance Direct or its related companies.</li>  
      <li>To be considered, entrants must
        <ol type="a">
          <li>Be an amateur travel blogger, video maker or photographer
Have their own blog, YouTube, Vimeo, Flickr, Instagram and/or Pinterest accounts</li>
          <li>Travel overseas at least 3 times in the 12 month period of the AMT policy</li>
          <li>Be an Australian resident and agree to the T&Cs of our travel insurance policy (http://www.travelinsurancedirect.com.au/pds)</li>
          <li>Be a TID customer</li>
          <li>Be a passionate traveller who fits into one of these four TID Travel Scout themes – Fun, Family, Food or Film.</li>
          <li>Agee to provide 10 content submissions in their medium of choice over the 12 month duration of the Annual Multi Trip (AMT) policy.</li>
          <li>Agree to have this content published on the TID website and shared through any social channels.</li>
        </ol>
      </li>  
    </ol>
      
      
    <h3>Entrants bound by conditions</h3>
    <ol start="4">
      <li>
        By participating, entrants agree to be bound by these Terms and Conditions of Entry. Any changes to these conditions of entry will be published on the TID Travel Scouts webpage (http://www.travelinsurancedirect.com.au/campaigns/travel-scout)
      </li>
    </ol>
      
    <h3>How to enter</h3>
    <ol start="5">
      <li>
        
        To enter, entrants must complete all required fields of the entry form available on the TID Travel Scouts page (http://www.travelinsurancedirect.com.au/campaigns/travel-scout) 
      </li>  
      <li>
        <strong>Entries must be:</strong>
        <ol type="a">
          <li>the original, independent creation of the entrant
owned by the entrant, and</li>
          <li>free of any claims, including copyright or trademark claims, by other parties.</li>
        </ol>
      </li>
    </ol>
    <ol start="7">
      <li>
        <strong>Entries must not:</strong>
        <ol type="a">
          <li>have been commissioned by any other brands</li>
          <li>have won prizes or awards in other competitions</li>
          <li>be restricted in any way, or</li>
          <li>infringe any third party rights.</li>
        </ol>
      </li>
    </ol>
      
    <h3>Limitations of enter</h3>
    <ol start="8">
      <li>
        Only one entry per person is permitted. Entries emailed after 25 May 2015, 9am (AEST) will not be accepted.
      </li>
    </ol>
      
    <h3>Promotion period</h3> 
    <ol start="9">
      <li>
        The promotion starts at 27 April 2015, 9am (AEST) and ends at 25 May 2015, 9am (AEST) (“Promotion Period”).  All references to time are local in Sydney, Australia.
      </li>
    </ol>
  
    <h3>Selection of winners</h3>
    <ol start="10">
      <li>
        Judging will take place between 26 May and 22 June 2015.
      </li>  
      <li>A panel of judges will choose ten (10) winners of the Prize listed in Clause 13 who they consider to be the most creative, interesting and articulate travellers.  Part of the selection process may involve contacting the entrant directly to discuss their entry. </li>  
      <li>Chance plays no part in determining the winner. The Promoter reserves the right to disqualify and entrant submitting an entry which, in the opinion of the Promoter, is incomprehensible, illegible, and incomplete or includes objectionable content, including but not limited to profanity, nudity, potentially insulting, scandalous, inflammatory or defamatory images or language. The judges’ decision is final and no correspondence will be entered into.</li>
    </ol>
      
    <h3>Prizes</h3>
    <ol start="13">
      <li>
        The Prize consists of:
        <p>one (1) Annual Multi Trip policy for 1 person with Travel Insurance Direct  approximate value up to $1000 (inclusive of options);
and one (1) Apple iPad Mini 2, 32GB, Wi-Fi (RRP $429).</p>
      </li>  
      <li>The prize of a travel insurance policy with Travel Insurance Direct will be issued subject to the applicants’ meeting eligibility criteria and subject to the policy’s terms and conditions.  If these conditions are not met then another entrant will be selected. </li>  
      <li>If a winner is already overseas on a longer trip then a single trip policy to the equivalent value of an AMT policy (up to $1000 inclusive of options) may be offered subject to the winner meeting the terms and conditions of the policy. </li>  
      <li>The winners will need to provide a minimum of 10 pieces of content in their chosen medium, over the 12 month duration of the AMT policy.  This content will be published on the TID website and shared through TID’s social channels. </li>  
      <li>The Promoter takes no responsibility for any variations in prize value. Prizes are not transferable or exchangeable and cannot be redeemed for cash. In the event that any prize or part thereof is unavailable, the Promoter reserves the right to substitute a prize of equal or greater recommended retail value.</li>
    </ol>  
      
    <h3>Winner notification and publication</h3>
    <ol start="17">  
      <li>The winners will be notified by email on 23 June 2015 by 12.00pm via the email address they submitted with their entry. Once the winners have received the email, they are required to send a reply email to claim their prize. The Promoter will not notify entrants of failure to win a prize. The Promoter is not responsible for contacting the winners by any other method or for the winners not receiving notification for any reason. Entrants are responsible for providing and maintaining correct contact details.</li>
    </ol>
      
    <h3>Prize delivery</h3>
    <ol start="19">
      <li>Once the winners have confirmed acceptance of their prize in a reply email, the Promoter will contact them to organise an agreement between the winner and the Promoter. The agreement will stipulate the type and amount of content the winner will produce from the travels they initiate as a result of the 12 month Annual Multi-trip policy/equivalent single trip policy. Confirmation of the travel insurance policy with Travel Insurance Direct will be delivered electronically to the winner’s nominated email address.</li>
    </ol>  
      
    <h3>Entery verification</h3>
    <ol start="20">
      <li>The Promoter reserves the right to verify the validity of entries and to disqualify any entrant who tampers with the entry process, or who submits an entry that is not in accordance with these Terms and Conditions of Entry.
</li>  
    </ol>
      
    <h3>Promoter</h3>
    <ol start="21">
      <li>The Promoter is Travel Insurance Direct Pty Ltd, ABN 30 121 659 470, Level 21, 680 George Street, Sydney, New South Wales, 2000.</li>  
    </ol>
      
    <h3>Liability</h3>
    <ol start="22">
      <li>The Promoter shall not be liable for any loss or damage whatsoever which is suffered (including but not limited to indirect or consequential loss) or for personal injury which is suffered or sustained, as a result of taking any of the prizes, except for any liability which cannot be excluded by law.</li> 
    </ol>
    <h3>Consent to use entries</h3>
    <ol start="23"> 
      <li>By entering the competition, entrants consent to the information they submit with their entry, including personal details and/or literary response, being entered into a database and the Promoter may use this information in any media for future promotional, marketing and publicity purposes (including sending electronic communication) without any further reference , payment or other compensation to the entrant.</li>
    </ol>
    <h3>Privacy</h3>
    <ol start="24">
      <li>Entrants’ personal information is collected, used, stored and disclosed in accordance with our Privacy Policy. For more information, visit www.travelinsurancedirect.com.au/privacy</li>  
    </ol>  

    </div>
</div>
   
</div>
 
  
</article>

{% endblock %}