<table id="event-based-benefits" width="100%" border="0" cellpadding="16">
  <tbody>
    <tr>
      <th class="">When</th>
      <th class="">We pay</th>
    </tr>
    <tr class="event-based-benefit need-medical-help">
      <td data-th="When">
        <div class="title">
          You need Medical Help
        </div>

        <div class="description">
          for <span class="insurance-term">Sudden Illness</span>, including unexpected issues
          relating to 43 <a href=
          "https://service.travelinsurancedirect.com.au/customer/portal/articles/611220-automatically-covered-medical-conditions?b_id=755"
          target="_blank">Existing Medical Conditions</a>.
        </div>
      </td>

      <td data-th="We pay">
        <div class="amount">
          Unlimited
        </div>

        <div class="description">
          overseas <span class="insurance-term">Medical Expenses</span> (e.g. hospital,
          ambulance, doctor); repatriation costs; <span class="insurance-term">Medical
          Evacuation</span>; <span class="insurance-term">Cancellation Costs</span> and
          <span class="insurance-term">Additional Expenses</span>.
        </div>
      </td>
    </tr>

    <tr class="event-based-benefit in-an-accident">
      <td data-th="When">
        <div class="title">
          You are in an Accident
        </div>
        <div class="description">
          and sustain a <span class="insurance-term">Serious Injury</span>
        </div>
      </td>

      <td data-th="We pay">
        <div class="amount">
          Unlimited
        </div>

        <div class="description">
          overseas <span class="insurance-term">Medical Expenses</span> (e.g. hospital,
          ambulance, doctor); repatriation costs; <span class="insurance-term">Medical
          Evacuation</span>; <span class="insurance-term">Cancellation Costs</span> and
          <span class="insurance-term">Additional Expenses</span>.
        </div>
      </td>
    </tr>
    
    <tr class="event-based-benefit medical-evacuation">
        <td data-th="When">
          <div class="title">
            You need Medical Evacuation
          </div>

          <div class="description">
            due to <span class="insurance-term">Sudden Illness</span> or <span class=
            "insurance-term">Serious Injury</span>
          </div>
        </td>

        <td data-th="We pay">
          <div class="amount">
            Unlimited
          </div>

          <div class="description">
            <span class="insurance-term">Medical Evacuation</span> costs
          </div>
        </td>
      </tr>

      <tr class="event-based-benefit passport-stolen">
        <td data-th="When">
          <div class="title">
            Your Passport or Travel Documents
          </div>

          <div class="description">
            are lost or stolen
          </div>
        </td>

        <td data-th="We pay">
          <div class="amount">
            Unlimited
          </div>

          <div class="description">
            <span class="insurance-term">Cancellation Costs</span> and <span class=
            "insurance-term">Additional Expenses</span>
          </div>
        </td>
      </tr>

      <tr class="event-based-benefit luggage">
        <td data-th="When">
          <div class="title">
            Your Luggage &amp; personal effects
          </div>

          <div class="description">
            are stolen, <span class="insurance-term">Accidentally</span> lost or damaged
          </div>
        </td>

        <td data-th="We pay">
          <div class="amount">
            $12,000
          </div>

          <div class="description">
            Laptops, tablets &amp; cameras are covered up to $4,000 &amp; all other items up to
            $700 or you can add other <a href=
            "https://service.travelinsurancedirect.com.au/customer/portal/articles/526847-cover-for-laptops-cameras-and-phones"
            target="_blank">valuable items</a> as an option.
          </div>
        </td>
      </tr>

      <tr class="event-based-benefit unable-to-travel">
        <td data-th="When">
          <div class="title">
            You have to cancel your trip
          </div>

          <div class="description">
            due to unforeseeable events outside of <span class="insurance-term">Your</span> control
            (e.g. <span class="insurance-term">Sudden Illness</span>)
          </div>
        </td>

        <td data-th="We pay">
          <div class="amount">
            Unlimited
          </div>

          <div class="description">
            <span class="insurance-term">Cancellation Costs</span> (e.g. loss of deposit)
          </div>
        </td>
      </tr>

      <tr class="event-based-benefit cancellation-or-delay">
        <td data-th="When">
          <div class="title">
            Your Flight is cancelled or delayed
          </div>

          <div class="description">
            due to bad weather, natural disaster, riot, hijacking, strike or civil commotion
          </div>
        </td>

        <td data-th="We pay">
          <div class="amount">
            Unlimited
          </div>

          <div class="description">
            <span class="insurance-term">Cancellation Costs</span> (e.g. loss of deposit) and
            <span class="insurance-term">Additional Expenses</span> (e.g. additional accommodation
            expenses)
          </div>
        </td>
      </tr>

      <tr class="event-based-benefit return-early">
        <td data-th="When">
          <div class="title">
            You have to return home early
          </div>

          <div class="description">
            due to unforeseeable events outside of <span class="insurance-term">Your</span> control
            (e.g. a close relative is hospitalised due to <span class="insurance-term">Serious
            Injury</span>; or <span class="insurance-term">Your</span> home is destroyed by fire)
          </div>
        </td>

        <td data-th="We pay">
          <div class="amount">
            Unlimited
          </div>

          <div class="description">
            <span class="insurance-term">Cancellation Costs</span> (e.g. loss of deposit) and
            <span class="insurance-term">Additional Expenses</span> (e.g. additional travel
            expenses). In certain circumstances, we may also pay for you to resume <span class=
            "insurance-term">Your</span> trip (up to $3,000).
          </div>
        </td>
      </tr>

      <tr class="event-based-benefit credit-card-stolen">
        <td data-th="When">
          <div class="title">
            Your Credit Cards
          </div>

          <div class="description">
            are lost, stolen or used fraudulently
          </div>
        </td>

        <td data-th="We pay">
          <div class="amount">
            $2,000
          </div>

          <div class="description">
            for financial losses
          </div>
        </td>
      </tr>

      <tr class="event-based-benefit personal-liability">
        <td data-th="When">
          <div class="title">
            You become Legally Liable
          </div>

          <div class="description">
            when <span class="insurance-term">Your</span> negligence leads to injury or loss/damage
            to property (Personal Liability).
          </div>
        </td>

        <td data-th="We pay">
          <div class="amount">
            $2,500,000
          </div>

          <div class="description">
            for amounts that <span class="insurance-term">You</span> are legally liable for (i.e.
            compensation) as well as <span class="insurance-term">Reasonable</span> legal costs
          </div>
        </td>
      </tr>

      <tr class="event-based-benefit natural-disaster">
        <td data-th="When">
          <div class="title">
            A Natural Disaster
          </div>

          <div class="description">
            means <span class="insurance-term">Your</span> flight or other pre-booked public
            transport is cancelled, delayed or rescheduled
          </div>
        </td>

        <td data-th="We pay">
          <div class="amount">
            Unlimited
          </div>

          <div class="description">
            <span class="insurance-term">Cancellation Costs</span> and <span class=
            "insurance-term">Additional Expenses</span> (e.g. additional accommodation expenses)
          </div>
        </td>
      </tr>

      <tr class="event-based-benefit bad-weather">
        <td data-th="When">
          <div class="title">
            Bad Weather
          </div>

          <div class="description">
            means <span class="insurance-term">Your</span> flight or other pre-booked public
            transport is cancelled, delayed or rescheduled
          </div>
        </td>

        <td data-th="We pay">
          <div class="amount">
            Unlimited
          </div>

          <div class="description">
            <span class="insurance-term">Cancellation Costs</span> and <span class=
            "insurance-term">Additional Expenses</span> (e.g. additional accommodation expenses)
          </div>
        </td>
      </tr>

      <tr class="event-based-benefit death">
        <td data-th="When">
          <div class="title">
            You Die
          </div>

          <div class="description">
            whilst on <span class="insurance-term">Your Trip</span> due to <span class=
            "insurance-term">Sudden Illness</span> or <span class="insurance-term">Serious
            Injury</span>
          </div>
        </td>

        <td data-th="We pay">
          <div class="amount">
            Unlimited
          </div>

          <div class="description">
            <span class="insurance-term">Cancellation Costs</span> and <span class=
            "insurance-term">Additional Expenses</span>. Also, we will repatriate <span class=
            "insurance-term">Your</span> remains to Australia (up to $12,000) if needed. Where
            <span class="insurance-term">Your</span> death is as a direct result of an <span class=
            "insurance-term">Injury</span> on <span class="insurance-term">Your Trip</span> we will
            also pay $25,000 to <span class="insurance-term">Your</span> estate.
          </div>
        </td>
      </tr>

      <tr class="event-based-benefit loss-of-income">
        <td data-th="When">
          <div class="title">
            You suffer from Loss Of Income
          </div>

          <div class="description">
            due to an <span class="insurance-term">Accidental Injury</span> on <span class=
            "insurance-term">Your Trip</span>
          </div>
        </td>

        <td data-th="We pay">
          <div class="amount">
            $10,000
          </div>

          <div class="description">
            towards <span class="insurance-term">Your</span> income
          </div>
        </td>
      </tr>

      <tr class="event-based-benefit permanent-disability">
        <td data-th="When">
          <div class="title">
            You suffer a Total Permanent Disability
          </div>

          <div class="description">
            due to an accidental injury on <span class="insurance-term">Your</span> trip
          </div>
        </td>

        <td data-th="We pay">
          <div class="amount">
            $12,500
          </div>

          <div class="description">
            as a benefit
          </div>
        </td>
      </tr>

      <tr class="event-based-benefit baggage-delayed">
        <td data-th="When">
          <div class="title">
            Your bags are Delayed
          </div>

          <div class="description">
            by the airline or other <span class="insurance-term">Carrier</span>
          </div>
        </td>

        <td data-th="We pay">
          <div class="amount">
            $500
          </div>

          <div class="description">
            for essential items to tide you over until <span class="insurance-term">Your</span>
            baggage arrives
          </div>
        </div>
      </tr>

      <tr class="event-based-benefit travel-delay">
        <td data-th="When">
          <div class="title">
            Your Travel Is Delayed
          </div>

          <div class="description">
            For Operational Reasons (e.g. if the <span class="insurance-term">Airline</span> delays
            <span class="insurance-term">Your</span> flight due to mechanical reasons)
          </div>
        </td>

        <td data-th="We pay">
          <div class="amount">
            $2,000
          </div>

          <div class="description">
            for any <span class="insurance-term">Reasonable</span> additional meals and
            accommodation; or refund of pre-paid travel arrangements
          </div>
        </div>
      </tr>

      <tr class="event-based-benefit car-rental-excess">
        <td data-th="When">
          <div class="title">
            You have to pay Rental Car Excess
          </div>

          <div class="description">
            when <span class="insurance-term">Your</span> <span class="insurance-term">Rental
            Vehicle</span> is in an accident, is damaged or stolen
          </div>
        </td>

        <td data-th="We pay">
          <div class="amount">
            $4,000
          </div>

          <div class="description">
            You can increase the <span class="insurance-term">Rental Vehicle</span> excess on the
            next page.
          </div>
        </td>
      </tr>

      <tr class="event-based-benefit snow-sports">
        <td data-th="When">
          <div class="title">
            You go skiing or snowboarding
          </div>

          <div class="description">
            If you are skiing, snowboarding or participating in any snow sports you must add this
            option on the next page to be covered by the <span class="insurance-term">Policy</span>
            including <span class="insurance-term">Medical</span>, <span class=
            "insurance-term">Cancellation</span> and <span class="insurance-term">Additional
            Expenses</span>.
          </div>
        </td>

        <td data-th="We pay">
          <div class="amount">
            Optional
          </div>

          <div class="description">
            $1,000 piste closure<br>
            $1,000 pre-paid costs<br>
            $1,500 equipment replacement<br>
            $2,000 hire equipment
          </div>
        </td>
      </tr>

  </tbody>
</table>

