  <div class="row">
    <div class="small-12 column">
      <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-5">
        <li class="trusted">
          Trusted by 1 Million Aussies
        </li>

        <li class="award">
          Award Winning Value
        </li>

        <li class="owned">
          100% Australian Owned
        </li>

        <li class="secure">
          Secure Payment
        </li>
        
        <li class="lloyds text-right show-for-large-up">
        </li>
      </ul>
    </div>
  </div>