
<div class="row">
  <div class="small-12 column">
    <h2 class="small-only-text-left medium-centered medium-12 large-9 text-center column">What’s covered with Australia’s #1 online travel insurance?</h2>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
      <li class="text-with-img cancellation">
        <a href="http://www.travelinsurancedirect.com.au/what-we-cover?homepage=cancellation">
          <h4>Trip Cancellation</h4>
          <p>Airport closed? Can’t go on your trip? Have to return home early? We offer unlimited cover for cancellation costs.</p>
          <span class="learn-more hide-for-small">Learn more</span>
        </a>
      </li>
      <li class="text-with-img medical-help">
        <a href="http://www.travelinsurancedirect.com.au/what-we-cover?homepage=medical-help">
          <h4 class="">Medical help</h4>
          <p>If you become sick or seriously injured on your trip, we provide unlimited cover for medical treatment, cancellation costs or additional travel expenses.</p>
          <span class="learn-more hide-for-small">Learn more</span>
        </a>
      </li>
      <li class="text-with-img luggage">
        <a href="http://www.travelinsurancedirect.com.au/what-we-cover?homepage=lost-luggage">
          <h4>Lost or stolen luggage</h4>
          <p>Your belongings are covered up to $700 or $4,000 for valuable items such as a laptop, tablet or camera.</p>
          <span class="learn-more hide-for-small">Learn more</span>
        </a>
      </li>
      <li class="text-with-img accident" >
        <a href="http://www.travelinsurancedirect.com.au/what-we-cover?homepage=have-an-accident">
          <h4 class="">Accidents</h4>
          <p>If you sustain a serious injury during your trip, we’ll cover your medical treatment, cancellation costs or additional travel expenses.</p>
          <span class="learn-more hide-for-small">Learn more</span>
        </a>
      </li>
      <li class="text-with-img evacuation">
        <a href="http://www.travelinsurancedirect.com.au/what-we-cover?homepage=evacuation">
          <h4>Medical evacuation</h4>
          <p>Our emergency assistance team offers 24/7 support if you require evacuation due to serious illness or injury.</p>
          <span class="learn-more hide-for-small">Learn more</span>
        </a>
      </li>
      <li class="text-with-img passport-lost">
        <a href="http://www.travelinsurancedirect.com.au/what-we-cover?homepage=passport-lost">
          <h4 class="">Lost Passport</h4>
          <p>We’ll cover expenses associated with replacing your passport and help you locate the closest consulate.</p>
          <span class="learn-more hide-for-small">Learn more</span>
        </a>
      </li>
  </ul>

  </div>

  <div class="small-12 column text-center">
    <a class="button dark-blue small-expand" href="#">Get travel insurance</a>
  </div>
</div>

  