<nav class="breadcrumb">
  <ol>
    <li class="step1">
      <a href="/Quote?enc=kLg_wPS4F7AFuDMliLqLTZppVFyMfhC7QRT0AN3SJwmok64h3-c7pL0w5V7zv3tiCQQlKNBIzSwI-bxOAuDqGGu6Pq13zZvnoJKz7OjLGeG9yESmd5rfM1yGpeCWpKRYRtxFvnJcD07pKmJr3Jab8wg6ZtoDMNpH0sliZDAAdDRDmJ9WCLaHI7ihxqpCVp_n" data-analytics-id="breadcrumb-goto-quote">
        <span class='number'>1.</span><span class='description'>Quote</span>
      </a>
    </li>
    <li class="step2">
      <a href='#'>
        <span class='number'>2.</span><span class='description'>Options</span>
      </a>
    </li>
    <li class="step3 active">
      <em>
        <span class='number'>3.</span><span class='description'>Details</span>
      </em>
    </li>
    <li class="step4">
      <em>
        <span class='number'>4.</span><span class='description'>Review &amp; Pay</span>
      </em>
    </li>
  </ol>
</nav>
