<!--  Quick Quote Widget Start   -->
    
    <div id="quick-quote">

<form action="/Home/MultiTarget" id="quoteForm" method="post">  <div id="do-not-travel-modal-wrapper">
  </div>
    <div class="destination alpha">
      <h3>1. Where</h3>
      <label>
        Countries you are travelling to
      </label>
<div class="input-group" id="quote-destination">
        <ul id="destinations"></ul>
          <input type="text" autocomplete="off" class="country placeholder" id="autocompleter" tabindex="1">
</div>
      
    </div>
    <div class="travel-dates">
      <h3>2. When</h3>
<div class="input-group" id="quote-departure-date">
<label for="QuoteModel_QuoteDto_DepartureDateDay">Departure Date</label><select id="QuoteModel_QuoteDto_DepartureDateDay" name="QuoteModel.QuoteDto.DepartureDateDay" style="display: none;"><option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option selected="selected" value="30">30</option>
<option value="31">31</option>
</select><select id="QuoteModel_QuoteDto_DepartureDateMonth" name="QuoteModel.QuoteDto.DepartureDateMonth" style="display: none;"><option value="1">Jan</option>
<option value="2">Feb</option>
<option value="3">Mar</option>
<option selected="selected" value="4">Apr</option>
<option value="5">May</option>
<option value="6">Jun</option>
<option value="7">Jul</option>
<option value="8">Aug</option>
<option value="9">Sep</option>
<option value="10">Oct</option>
<option value="11">Nov</option>
<option value="12">Dec</option>
</select><select id="QuoteModel_QuoteDto_DepartureDateYear" name="QuoteModel.QuoteDto.DepartureDateYear" style="display: none;"><option selected="selected" value="2015">2015</option>
<option value="2016">2016</option>
<option value="2017">2017</option>
</select></div>
      

<div class="input-group" id="quote-return-date">
<label for="QuoteModel_QuoteDto_ReturnDateDay">Return Date</label><select id="QuoteModel_QuoteDto_ReturnDateDay" name="QuoteModel.QuoteDto.ReturnDateDay" style="display: none;"><option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option selected="selected" value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select><select id="QuoteModel_QuoteDto_ReturnDateMonth" name="QuoteModel.QuoteDto.ReturnDateMonth" style="display: none;"><option value="1">Jan</option>
<option value="2">Feb</option>
<option value="3">Mar</option>
<option value="4">Apr</option>
<option selected="selected" value="5">May</option>
<option value="6">Jun</option>
<option value="7">Jul</option>
<option value="8">Aug</option>
<option value="9">Sep</option>
<option value="10">Oct</option>
<option value="11">Nov</option>
<option value="12">Dec</option>
</select><select id="QuoteModel_QuoteDto_ReturnDateYear" name="QuoteModel.QuoteDto.ReturnDateYear" style="display: none;"><option selected="selected" value="2015">2015</option>
<option value="2016">2016</option>
<option value="2017">2017</option>
</select></div>
      
    </div>
    <div class="travelling-as beta">
      <h3>3. Who</h3>
      <label>Age of adult traveller(s)</label>


<div class="input-group" id="quote-traveller-ages">
          <div class="sub-group">
          <input id="QuoteModel_QuoteDto_TravellerAges_0__Age" maxlength="2" name="QuoteModel.QuoteDto.TravellerAges[0].Age" placeholder="Enter age" type="text" value="">
          </div>
          <div class="sub-group">
          <input id="QuoteModel_QuoteDto_TravellerAges_1__Age" maxlength="2" name="QuoteModel.QuoteDto.TravellerAges[1].Age" placeholder="Enter age" type="text" value="">
          </div>
</div>
      
         
      <a class="children-go-free" title="Your children under 21 go free" href="#">Your children go free »</a>
      <div class="collapse">This means your dependent children or grandchildren under the 
        age of 21 at the date of policy issue who are travelling with you.</div>
        
      <input type="submit" class="continue" name="SubmitQuickQuote" value="Get a Quote">
    </div>
<input id="countryIDs" name="QuoteModel.RawCountryIds" type="hidden" value=""><input id="QuoteModel_QuoteDto_PromotionCode" name="QuoteModel.QuoteDto.PromotionCode" type="hidden" value="">    <div id="quote-session-tokens">
      

<input name="SessionTokenHomeModel" type="hidden" value="b0aa4ffc-0b35-4497-b799-525d81882597">
    </div>
</form></div>
  <!-- Quick Quote Widget END -->