{% block title %}TIDBits Blog{% endblock %}
{% block content %}

<div class="zone zone-before-main">
  <div class="content-description blog-description blue-panel">
    <div class="row">
      <div class="small-12 columns">
        <h1>TIDbits</h1>
        <p></p>
      </div>
    </div>
  </div>
</div>

<div class="content-panel">
  <div class="row">
    <div class="small-12 columns">
      <div class="zone zone-content">
        <article class="blog content-item">
          <header>
            <div class="metadata">
              <div class="published">
                May 30 2012 5:53 PM
              </div>
            </div>
          </header>

          <ul class="blog-posts content-items">
            <li class="first">
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/an-unforseen-danger-for-travellers-in-thailand">An unforeseen danger for travellers in Thailand</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Mar 5 2015 12:56 PM
                    </div>
                  </div>
                </header>

                <p>How a cut on the leg prompted a $42,500 medical emergency for an Aussie in Thailand</p>

                <p>TID customer John Capretta, a 25 year old network engineer from Melbourne, was on holiday in Thailand when he&nbsp;… <a href=
                "/TIDbits-blog/an-unforseen-danger-for-travellers-in-thailand">more</a></p>

                <div class="metadata">
                  <div class="published">
                    By <a href="/author/Kristen-Hyde" rel="author">Kristen Hyde</a>
                  </div>
                </div>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/airbnb-is-it-covered-in-your-travel-insurance">Airbnb: is it covered by your travel insurance?</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Mar 4 2015 2:58 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p></p>

                <p>Long gone are the days of simply searching out the most convenient and cost-effective hotel to lay your head at night. Now, there is an array of accommodation
                options available to the modern&nbsp;… <a href="/TIDbits-blog/airbnb-is-it-covered-in-your-travel-insurance">more</a></p>

                <div class="metadata">
                  <div class="published">
                    By <a href="/author/Kristen-Hyde" rel="author">Kristen Hyde</a>
                  </div>
                </div>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/top-tips-for-staying-in-a-favela-in-rio">Top tips for staying in a favela in Rio</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Mar 2 2015 5:21 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p></p>

                <p>TID team member, Brona Pham and her husband Dave recently packed up their life in Sydney and embarked on a four month adventure through South America.&nbsp;</p>

                <p>Brona and Dave have been on the road&nbsp;… <a href="/TIDbits-blog/top-tips-for-staying-in-a-favela-in-rio">more</a></p>

                <div class="metadata">
                  <div class="published">
                    By <a href="/author/Brona-Hyndman" rel="author">Brona Hyndman</a>
                  </div>
                </div>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/must-have-camera-equipment-every-photographer-needs">Must-have camera equipment every photographer needs</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Feb 25 2015 10:41 AM
                    </div>
                  </div>
                </header>

                <p>Advice from TID travel photographer and filmmaker, Eddie Hobson</p>

                <p>After nearly 4 years on the road - exploring deserts, rain forests, beaches, mountains, snow caps and cities – my camera has&nbsp;… <a href=
                "/TIDbits-blog/must-have-camera-equipment-every-photographer-needs">more</a></p>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/family-friendly-accommodation-across-the-globe">Family friendly accommodation across the globe</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Feb 23 2015 3:39 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p></p>

                <p>Sick of staying in hotels? Finding family accommodation a challenge? If you’ve read our post on our favourite hotels across the globe but are on the hunt for
                something with a bit more&nbsp;… <a href="/TIDbits-blog/family-friendly-accommodation-across-the-globe">more</a></p>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/neerav-bhatt-travel-photography-qanda">Q&amp;A with Neerav Bhatt, Travel Photographer</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Feb 12 2015 4:34 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p></p>

                <p>The only thing that rivals Neerav Bhatt's passion for photography, is his passion to see the world. And that's exactly what he's doing. From behind the lens of
                his Canon 6D Digital SLR, Neerav&nbsp;… <a href="/TIDbits-blog/neerav-bhatt-travel-photography-qanda">more</a></p>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/how-to-spend-3-days-in-london-with-a-family">How to spend 3 days in London with a family</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Jan 23 2015 2:11 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p></p>

                <p>Many flights from Australia to Europe will have you passing through London, and while you originally thought three days in the historic city of London would be
                enough, I can guarantee it won&amp;&nbsp;… <a href="/TIDbits-blog/how-to-spend-3-days-in-london-with-a-family">more</a></p>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/everything-you-need-to-know-about-dengue-fever">Everything you need to know about dengue fever</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Jan 21 2015 12:42 PM
                    </div>
                  </div>
                </header>

                <p>Everyone knows someone, who knows someone, who has suffered from the dreaded dengue fever. It’s more common than the common mosquito and it can wreak havoc on
                your tropical holiday. Just ask&nbsp;… <a href="/everything-you-need-to-know-about-dengue-fever">more</a></p>

                <div class="metadata">
                  <div class="published">
                    By <a href="/author/Kristen-Hyde" rel="author">Kristen Hyde</a>
                  </div>
                </div>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/the-ultimate-christmas-holiday-with-kids">The ultimate Christmas holiday with kids</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Dec 22 2014 4:28 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p>Meet the Benders with Santa: (L-R) Josh, Caius, Santa, Mia and Erin. All photos supplied by Erin &amp; Josh Bender</p>

                <p></p>

                <p>It must be every child's (and adult's) dream to visit the REAL Santa! Our&nbsp;… <a href="/TIDbits-blog/the-ultimate-christmas-holiday-with-kids">more</a></p>

                <div class="metadata">
                  <div class="published">
                    By <a href="/author/Erin-Bender" rel="author">Erin Bender</a>
                  </div>
                </div>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/how-to-choose-the-right-luggage-for-your-trip">How to choose the right luggage for your trip</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Dec 17 2014 3:42 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p></p>

                <p>Choosing the right luggage can make your trip a lot easier, but how do you decide which type of bag comes on holiday with you? Here are some pointers on how to
                choose the right luggage for your&nbsp;… <a href="/how-to-choose-the-right-luggage-for-your-trip">more</a></p>

                <div class="metadata">
                  <div class="published">
                    By <a href="/author/Kristen-Hyde" rel="author">Kristen Hyde</a>
                  </div>
                </div>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/the-embassy-what-you-need-to-know-about-consulate-services">The Embassy: What you need to know about consulate services</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Dec 9 2014 11:44 AM
                    </div>
                  </div>
                </header>

                <p></p>

                <p></p>

                <p>Earlier this year, Channel 9 provided an exclusive insight into what happens behind the iron gates of the Australian Embassy in Bangkok. The series offered
                first-time access to the embassy, the&nbsp;… <a href="/the-embassy-what-you-need-to-know-about-consulate-services">more</a></p>

                <div class="metadata">
                  <div class="published">
                    By <a href="/author/Kristen-Hyde" rel="author">Kristen Hyde</a>
                  </div>
                </div>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/QandA-with-Eddie-Hobson-Capture-The-World">Q&amp;A with Eddie Hobson Capture The World</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Dec 3 2014 11:51 AM
                    </div>
                  </div>
                </header>

                <p></p>

                <p></p>

                <p>When Eddie Peter Hobson told us about his plans to spend two years capturing every corner of the world through timelapse, hyperlapse and slowmotion film, we
                knew it was an adventure too good to&nbsp;… <a href="/QandA-with-Eddie-Hobson-Capture-The-World">more</a></p>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/family-friendly-hotels-around-the-world">Family friendly hotels around the world</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Nov 26 2014 2:21 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p></p>

                <p>You only get a few precious opportunities each year to take your children on a holiday and you want the experience to be perfect. TID's resident travel blogger,
                Erin Bender, completely&nbsp;… <a href="/TIDbits-blog/family-friendly-hotels-around-the-world">more</a></p>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/6-spooky-locations-to-celebrate-halloween-and-how-to-stay-safe">6 spooky locations to celebrate Halloween (and how to stay
                  safe)</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Oct 27 2014 3:14 PM
                    </div>
                  </div>
                </header>

                <p>It’s that time of year again – when a surplus of ripe orange pumpkins arrive in our supermarkets and suburban homes become covered in cobwebs and ghoulish
                props. Whether you’re a&nbsp;… <a href="/TIDbits-blog/6-spooky-locations-to-celebrate-halloween-and-how-to-stay-safe">more</a></p>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/travel-tips-for-destination-weddings">Travel tips for destination weddings</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Oct 14 2014 11:33 AM
                    </div>
                  </div>
                </header>

                <p></p>

                <p>With the average cost of a wedding in Australia ranging from $32,600 to $60,000, it's little wonder couples are whisking their wedding guests overseas to
                celebrate their nuptials. At the palatable&nbsp;… <a href="/TIDbits-blog/travel-tips-for-destination-weddings">more</a></p>

                <div class="metadata">
                  <div class="published">
                    By <a href="/author/Kristen-Hyde" rel="author">Kristen Hyde</a>
                  </div>
                </div>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/gap-year-for-grown-ups">Gap year for grown ups</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Oct 3 2014 1:40 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p>While taking a ‘gap year’ is a concept more common amongst school leavers and ‘twenty-somethings’ experiencing an existential crisis, taking 12 months off to
                travel the&nbsp;… <a href="/TIDbits-blog/gap-year-for-grown-ups">more</a></p>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/great-family-activities-in-amsterdam-that-are-mostly-free">Great family activities in Amsterdam that are (mostly) free</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Sep 10 2014 2:38 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p></p>

                <p></p>

                <p>Erin Bender and her family recently did a side-trip to Amsterdam from the UK. Here's Erin's tips on all the family-friendly fun you can have in this lively
                city. &nbsp;</p>

                <p>48 hours in Amsterdam&nbsp;… <a href="/TIDbits-blog/great-family-activities-in-amsterdam-that-are-mostly-free">more</a></p>

                <div class="metadata">
                  <div class="published">
                    By <a href="/author/Erin-Bender" rel="author">Erin Bender</a>
                  </div>
                </div>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/get-connected-overseas">Get connected - tips for travelling with technology</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Jun 19 2014 5:14 PM
                    </div>
                  </div>
                </header>

                <p>Stay connected while you're overseas and have a better holiday. Here's how to do it cheaply and easily</p>

                <p></p>

                <p>There are lots of good reasons to use ALL the functions of your smartphone while you’re&nbsp;… <a href="/get-connected-overseas">more</a></p>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/bali-for-families">Bali for Families</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Jun 19 2014 3:23 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p>Travel writer Erin Bender joins the TID family for some guest blogging about her favourite destinations for families. Look out for her articles on our blog as
                well as hot tips shared on Facebook&nbsp;… <a href="/TIDbits-blog/bali-for-families">more</a></p>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/best-mobile-travel-apps">Best travel apps for your smartphone</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Nov 29 2013 4:15 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p>Technology has dramatically changed our travelling lives and mobile phone apps have significantly improved the travel experience. Here are some of the TID
                team’s favourite mobile travel apps &amp;&nbsp;… <a href="/best-mobile-travel-apps">more</a></p>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/globe-trotting-carry-these-travel-gadgets">Globe-trotting? Carry these travel gadgets</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Nov 7 2013 2:12 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p>Going on holiday used to be about getting away from it all, but in an increasingly wired world where we’re ‘always on’, more of us are choosing to take our
                devices with us.</p>

                <p>The&nbsp;… <a href="/TIDbits-blog/globe-trotting-carry-these-travel-gadgets">more</a></p>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/hitting-the-road-on-holiday">Hitting the road on holiday</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Oct 10 2013 12:00 PM
                    </div>
                  </div>
                </header>

                <p>The freedom to explore and go your own way is the essence of travel. Getting off the beaten path is exciting and almost always hugely rewarding because you get
                to meet real people and not just tour&nbsp;… <a href="/TIDbits-blog/hitting-the-road-on-holiday">more</a></p>

                <div class="metadata">
                  <div class="published">
                    By <a href="/author/Diana-Watts" rel="author">Diana Watts</a>
                  </div>
                </div>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/gastro-tourism-up-and-coming-destinations">Gastro tourism: up and coming destinations</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Aug 13 2013 5:23 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p>There's a new travel trend on the rise - gastro tourism - with travellers looking for authentic cultural experiences through gastronomy.</p>

                <p>And Australians are proving big fans of gastronomic food&nbsp;… <a href="/TIDbits-blog/gastro-tourism-up-and-coming-destinations">more</a></p>

                <div class="metadata">
                  <div class="published">
                    By <a href="/author/Diana-Watts" rel="author">Diana Watts</a>
                  </div>
                </div>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/hawaii-cheap-places-to-eat">Heading to Hawaii: cheap places to eat</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Jul 10 2013 5:45 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p>Hawaii is one of the most popular overseas holiday destinations for Australians. It’s really come into its own in the past few years thanks to the combination
                of the strong Aussie dollar and&nbsp;… <a href="/hawaii-cheap-places-to-eat">more</a></p>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/bike-tour-holiday-tips">Wheely good bike tour holiday tips</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Jul 2 2013 1:49 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p>I’m just back from a 3-week trip to the US and some of the most fun days I spent were on two wheels.</p>

                <p>Cycling is a fantastic way to discover a place – you can cover much more territory&nbsp;… <a href="/TIDbits-blog/bike-tour-holiday-tips">more</a></p>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/australian-outback-travel">Travel the Australian Outback</a></h1>

                  <div class="metadata">
                    <div class="published">
                      May 31 2013 1:34 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p>Ever wanted to see the outback of northern Australia? Now is the time to go. From May to September is the dry season without the searing heat of summer.</p>

                <p>It's a serious business traveling in the&nbsp;… <a href="/TIDbits-blog/australian-outback-travel">more</a></p>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/babymoon-tips">Tips for a healthy and happy babymoon</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Mar 28 2013 3:39 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p>Pregnant and planning a final escape before ‘me time’ becomes ‘we time’?</p>

                <p>Babymoons are proving very popular with expecting mums and destinations like Hawaii, the Cook&nbsp;… <a href="/TIDbits-blog/babymoon-tips">more</a></p>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/cruising-travel-tips">Going cruising? Safety tips for travellers</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Mar 15 2013 2:13 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p>Another day, another cruise ship dominating the landscape in Sydney harbour. &nbsp;It’s a busy time of year for cruising and the ships look spectacular,
                conjuring up romantic images of&nbsp;… <a href="/TIDbits-blog/cruising-travel-tips">more</a></p>
              </article>
            </li>

            <li>
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/booking-flights-online-multicity-stopovers">Booking flights online - multi-city stopovers</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Feb 26 2013 1:31 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p>I blogged last week about how booking domestic flights had become complicated … this week I’m having a crack at booking international flights online when you
                want multiple stopovers.&nbsp;… <a href="/TIDbits-blog/booking-flights-online-multicity-stopovers">more</a></p>
              </article>
            </li>

            <li class="last">
              <article class="content-item blog-post">
                <header>
                  <h1><a href="/TIDbits-blog/booking-flights-online">Booking flights online … how times have changed</a></h1>

                  <div class="metadata">
                    <div class="published">
                      Feb 15 2013 12:55 PM
                    </div>
                  </div>
                </header>

                <p></p>

                <p>Remember the days when buying a flight online was a pretty straightforward exercise? Choose your destination, your dates, input your details and voila, the
                ticket was yours.</p>

                <p>Then the little extras&nbsp;… <a href="/TIDbits-blog/booking-flights-online">more</a></p>
              </article>
            </li>
          </ul>

          <ul class="pager">
            <li class="first"><span>1</span></li>

            <li>
              <a href="/TIDbits-blog?page=2">2</a>
            </li>

            <li>
              <a href="/TIDbits-blog?page=2">&gt;</a>
            </li>

            <li class="last">
              <a href="/TIDbits-blog?page=2">&gt;&gt;</a>
            </li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</div>

{% endblock %}