{% block title %}TIDBits Blog Page{% endblock %}
{% block content %}

<div class="zone zone-before-main">

    <div class="header-panel blue-panel" id="header">
        <div class="row">
            <div class="small-12 column">
                <h1>The perils of tropical travel</h1>
            </div>
        </div>
    </div>
</div>


<div class="content-panel">
        <div class="row">

<div class="zone zone-content">
<article class="blog-post content-item">
    <header>
        
    </header>
    

    <div class="metadata">
        <div class="published">By  
            <a href="/author/Kristen-Hyde" rel="author">
                Kristen Hyde
            </a>
        </div>
    </div>
<div class="published">Mar 5 2015 12:56 PM</div><h2>How a cut on the leg prompted a $42,500 medical emergency for an Aussie in Thailand</h2>
<p>TID customer John Capretta, a 25 year old network engineer from Melbourne, was on holiday in Thailand when he slipped over in a wet street and cut his ankle. Seems innocent, right?</p>
<p>Not quite. In fact, what happened next could have made it onto an episode of Grey’s Anatomy. John’s cut turn into a seriously infected flesh wound, which showed no signs of slowing down. It landed him in hospital in Thailand for two weeks with a gaping wound and $42,500 medical bill.</p>
<p>We spoke with John to find out how his tropical holiday turned into a horror story, and how TID were able to help.&nbsp;</p>
<p><img src="/Media/Default/BlogPost/TIDbits-blog/John%2520Capretta%2520Interview/JohnCapretta_2.jpg"></p>
<h2>What happened in Thailand?</h2>
<p>I spent five days in Bangkok and then went over to Koh Pangan, where there are lots of parties and other things to do. It was meant to be the ‘beaches, resorts, tropical’ part of the trip. But it was on the first day on the island – Christmas Day - that I had the accident.</p>
<p>I had gone out with some other people I met at the hostel. We stopped at a beach and I decided to go out for my morning run. A lot of rain suddenly came down, Thailand-style, so as I’m running for shelter I tripped on something and fell over on the street. I’m not really sure what it was I fell into – probably scrap metal on the street. I had a lot of small cuts on my leg, along with a much larger cut – about 5cm long. It didn’t look huge to me, it wasn’t bleeding a lot, and no ligaments were damaged, but it did need stitches.</p>
<p>We went to the hospital and got some initial treatment, then found a clinic where they took a look at the injury. It took a while to get treatment, as they only have one doctor and three clinics. They had to transport me to a different hospital on another island. They gave the cut a clean, stitched me up, and sent me home.</p>
<h2>Were you worried about the injury?</h2>
<p>It wasn’t a big thing and I thought I’d be fine in a few days. Two days later, my foot became really swollen. I thought it was normal, until someone suggested I should go to the hospital. So they took me to another hospital on the island – the First Western. As my foot had become really swollen, the doctors knew straight away that it was infected. They didn’t know how, but one of the doctors said that the bacteria in Thailand are really strong. I spent two weeks at the First Western receiving treatment.</p>
<h2>How were you feeling at the time and was the injury getting worse?</h2>
<p>There were a lot of procedures in Thailand. It’s called debridement where they cut out the infected tissue. There were four or five debridements in one surgery.</p>
<p>At one point I thought the bone was exposed during one of the debridements. I asked the doctor “Is that bone?” and he said it was actually tendon.</p>
<p>The scariest part was when the doctor in Thailand checked the wound one day and he hadn’t expected there to be an infection, but the infection was still there. And I was thinking “Why is there still an infection? How far is this going to go? Am I going to lose my leg or something?” The thought did cross my mind.</p>
<p><img src="/Media/Default/BlogPost/TIDbits-blog/John%20Capretta%20Interview/John%20Capretta.jpg" p=""></p>
<h2>What was it like in the hospital?</h2>
<p>The First Western hospital in Thailand was really interesting, because it was almost like a hostel.</p>
<p>I wasn’t too worried there, as it’s a pretty fun hospital. The other patients there are other travellers – they’re fun people. We’re not stuck in our rooms; we can roam around and visit each other. It was a bit harder for me because I couldn’t walk much, but I made a lot of friends and the staff was really nice.</p>
<p>The hospital food at First Western was also really good, as it’s from a restaurant. Australia might have fancy stuff (like good medicine) but when it comes to hospital food – they need to learn a few things!</p>
<h2>How did you get back to Australia?</h2>
<p>The hospital contacted TID and did everything for me. I’m really happy with how TID handled everything. It really helped having Tamara [registered nurse from TID’s We Assist team] fly out as I definitely needed an escort to get home. Tamara was good – she handled going through all the airports and she knew how to get through customs really quickly without wasting any time. She could talk with the doctors and she understood what the doctors were recommending for the flight [back to Australia].</p>
<p>When I arrived in Melbourne, I went back into hospital so the doctors could have a look at the injury. As I’d come from Thailand, and had to take a bit of trip to get from Thailand to Australia, they wanted to confirm that everything was ok. Unfortunately, even after surgery in Thailand, it was still infected. So they had to do two more surgeries at St Vincent’s Hospital in Melbourne.</p>
<p><img src="/Media/Default/BlogPost/TIDbits-blog/John%20Capretta%20Interview/JohnCapretta_3.jpg"></p>
<h2>Did the experience put you off travelling for a while? What's your next travel plans?</h2>
<p>I’m going back as soon as possible! As soon as I have the money sorted out, I’m going.</p>
<h2>What words of advice would you give other Aussie travellers heading overseas?</h2>
<p>Take every precaution not to do anything that has the risk of injury. When you’re on holiday, it can be a bit more dangerous. If you’re in that sort of environment, be aware that something as simple as a cut can be really dangerous. For me, it could have gone a lot further. Maybe if I’d stayed in Thailand, it could have been worse, if I didn’t have the We Assist team to get me back home, who knows what could have happened.</p>
<p></p>
<h2>Safety tips for tropical travellers</h2>
<h2>Be careful</h2>
<p>The rules you learnt in school still apply – don’t run inside or in wet weather. Be careful in the street and around your accommodation where rusting rubbish or debris may be exposed.</p>
<h2>Cats and dogs</h2>
<p>Resist the urge to pat your new furry friends. Small scratches or bites can easily become infected, or result in rabies injections.</p>
<h2>Access severity</h2>
<p>Just because you nick yourself shaving doesn’t mean you’ll need to be admitted to hospital. If you do cut yourself, clean the cut with antiseptic immediately and keep the cut bandaged. If the cut becomes red and aggravated, seek treatment at your local clinic or hospital.</p>
<h2>Get treatment</h2>
<p>If you do seriously cut yourself, don’t decide to just deal with it when you get home. Head to your local clinic and have the injury assessed.</p>
<h2>Get travel insurance</h2>
<p>Don’t leave home without a travel insurance policy and make a point of reading the PDS to understand what you’re covered for and what to do if you need assistance.</p>
<h2>Call your travel insurance</h2>
<p>TID’s We Assist team are on call 24/7 to provide support and assistance to TID policy holders. To them, there’s no such thing as a silly question.</p>
<p>Also recommended for you:&nbsp;</p>
<p><a href="http://www.news.com.au/travel/travel-advice/australian-traveller-john-capretta-tells-of-his-holiday-nightmare-in-thailand/story-e6frfqg0-1227223119709" title="News.com.au " target="_blank">Read the full story of John Capretta's holiday hell&nbsp;</a></p>
<p><a href="http://www.travelinsurancedirect.com.au/TIDbits-blog/top-tips-for-staying-in-a-favela-in-rio" title="Favela top tips - TIDbits blog" target="_blank">Top tips for staying in a favela in Rio</a></p>
<p><a href="http://www.travelinsurancedirect.com.au/everything-you-need-to-know-about-dengue-fever" title="Dengue fever - TIDbits blog" target="_blank">Everything you need to know about dengue fever</a></p>

    <p class="tags">
        <span>Tags:</span>
<a href="/Tags/travel">travel</a>, <a href="/Tags/medical">medical</a>, <a href="/Tags/medical%20evacuation">medical evacuation</a>, <a href="/Tags/injury">injury</a>    </p>
  
  
<!--   TID QQWidget Container    -->

<div class="row qqw-contained">
  <div class="small-12 column blue-panel">
    
    <!--  Include QQWidget  -->
    {% include "qqw" %}
    
  </div>
</div>
  
<!-- QQW Container END -->



</article></div>
        </div>
    </div>

{% endblock %}