{% layout "desk" %}
{% block title %}Customer Service Information from TID{% endblock %}
{% block content %}


<!--begin:page_index-->


<div id='main' role='main'>  

<section id='header-content'>   
  <div class="csc-header-panel">
    <div class="csc-title">
    <h2>
      Customer Service
    </h2>

    <p class='intro'>
      While we'd be delighted to talk to you, there are many answers to commonly asked questions already here that will save you time.
    </p>  
    </div>
    <div class='search-bar'>
      <form action='/customer/portal/articles/search' method='get'>
        <input id='q' name='q' placeholder='Have a question? Ask or enter a search term here.' type='text' class='search-terms' />
        <input type='hidden' name='t' value='545425'/> <input type='hidden' name='b_id' value='755'/>
        <input class='search-submit' type='submit' value='Search' />
      </form>
      <script type='text/javascript'>
      //<![CDATA[
      jQuery(document).ready(function() {
        $("#q").bind("autocompleteopen", function(event, ui) {
          $('.ui-autocomplete').css({'margin-left':' 1px', 'width':'800px'});  
        }); 
      });
      //]]>
      </script>
    </div>

  </div>
</section> 


<section id='main-content'>    

  <section class='current-events'>
    <h6>
      Current Events:
    </h6>

    <ul class='articles'>

        <li class='article'>
          <a href='/customer/portal/articles/1915562-tropical-cyclone-pam-march-2015'>Tropical Cyclone Pam March 2015</a>
        </li>

    </ul>
  </section>

  <section class='browse-by-topic'>
    <ul class='topics'>

          <li class='topic odd'>
            <section>
              <h4>What We Cover</h4>

              
                <section class='list-articles'>
                  <header>
                    <h5>
                      Top Articles<small>24</small>
                    </h5>
                  </header>

                  <ul class='articles'>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/721221-travel-insurance-for-sports-and-activities?t=545425'>Travel Insurance for Sports and Activities</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1568484-cover-if-you-re-sick-or-injured?t=545425'>Cover if you&#x27;re sick or injured</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/528580-travel-insurance-for-skiing-and-snowboarding?t=545425'>Travel Insurance for Skiing and Snowboarding</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/528596-travel-insurance-for-motorcycle-riding?t=545425'>Travel insurance for Motorcycle Riding</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1574877-travel-insurance-for-jet-skiing?t=545425'>Travel insurance for jet skiing</a>
                      </li>
                    
                  </ul>
                  <a href='/customer/portal/topics/238831-what-we-cover/articles?t=545425'>View all</a>
                </section>
              

              
                <section class='list-questions'>
                  <header>
                    <h5>
                      Recent Questions
                    </h5>
                  </header>

                  <ul class='questions'>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/10918410-nut-allergy?t=545425'>Nut Allergy</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/10304771-travel-insurance-for-cruising-the-mediterranean?t=545425'>travel insurance for cruising the Mediterranean</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/6186315-cover-for-motorcycle-riding?t=545425'>Cover for Motorcycle riding</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/11520547-re-scheduled-flight-?t=545425'>Re-scheduled flight.</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/11510397-hey?t=545425'>Hey</a>
                      </li>
                    
                  </ul>
                  <a href='/customer/portal/topics/238831-what-we-cover/questions?b_id=755&t=545425'>View all</a>
                </section>
              
            </section>
          </li>
        
      
        
          <li class='topic even'>
            <section>
              <h4>Your Policy</h4>

              
                <section class='list-articles'>
                  <header>
                    <h5>
                      Top Articles<small>5</small>
                    </h5>
                  </header>

                  <ul class='articles'>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1336853-change-your-policy?t=545425'>Change your policy</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/538193-extend-your-policy?t=545425'>Extend your policy</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/538218-cancel-your-policy?t=545425'>Cancel Your policy</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/538232-when-does-the-policy-start-?t=545425'>When does the policy start?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/515157-your-certificate-of-insurance?t=545425'>Your Certificate of Insurance</a>
                      </li>
                    
                  </ul>
                  <a href='/customer/portal/topics/238830-your-policy/articles?t=545425'>View all</a>
                </section>
              

              
                <section class='list-questions'>
                  <header>
                    <h5>
                      Recent Questions
                    </h5>
                  </header>

                  <ul class='questions'>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/11522063-coverage?t=545425'>coverage</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/11513068-payment?t=545425'>payment</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/11449178-cancellation-costs?t=545425'>Cancellation costs</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/10502426-travel?t=545425'>Travel</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/10494469-why-has-the-cost-to-extend-my-policy-changed-?t=545425'>Why has the cost to extend my policy changed?</a>
                      </li>
                    
                  </ul>
                  <a href='/customer/portal/topics/238830-your-policy/questions?b_id=755&t=545425'>View all</a>
                </section>
              
            </section>
          </li>

        
      
        
          <li class='topic odd'>
            <section>
              <h4>Making a Claim</h4>

              
                <section class='list-articles'>
                  <header>
                    <h5>
                      17
                      Articles
                    </h5>
                    <a href='/customer/portal/topics/238833-making-a-claim/articles'>View all</a>
                  </header>

                  <ul class='articles'>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1139882-online-claims-in-10-easy-steps'>Online Claims in 10 easy steps</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1139880-how-do-i-log-in-'>How do I log in?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1139860-what-supporting-documents-will-i-need-'>What supporting documents will I need?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/859828-how-to-avoid-depreciation-on-lost-or-stolen-items'>How to avoid depreciation on lost or stolen items</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1139889-can-i-save-my-online-claim-'>Can I save my Online Claim?</a>
                      </li>
                    
                  </ul>
                </section>
              

              
                <section class='list-questions'>
                  <header>
                    <h5>
                      Recent Questions
                    </h5>
                    <a href='/customer/portal/topics/238833-making-a-claim/questions?b_id=755'>View all</a>
                  </header>

                  <ul class='questions'>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/11401551-i-cant-progress-with-my-claim-'>I cant progress with my claim </a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/11392925-can-i-claim-for-both-my-cancelled-costs-and-new-costs-to-get-home-'>Can I claim for both my cancelled costs and new co...</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/9912342-medical-forms'>medical forms</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/9842665-details'>details</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/9683708-lost-mobile-phone'>lost mobile phone</a>
                      </li>
                    
                  </ul>
                </section>
              
            </section>
          </li>
        
      
        
          <li class='topic even'>
            <section>
              <h4>Buying a Policy</h4>

              
                <section class='list-articles'>
                  <header>
                    <h5>
                      15
                      Articles
                    </h5>
                    <a href='/customer/portal/topics/232038-buying-a-policy/articles'>View all</a>
                  </header>

                  <ul class='articles'>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/526767-getting-a-travel-insurance-quote'>Getting a Travel Insurance Quote</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/500325-adding-countries'>Adding countries</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/526821-who-can-buy-'>Who Can Buy?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/500446-travel-insurance-for-cruising'>Travel Insurance for Cruising</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/526637-rental-vehicle-insurance-excess-cover'>Rental Vehicle Insurance Excess Cover</a>
                      </li>
                    
                  </ul>
                </section>
              

              
                <section class='list-questions'>
                  <header>
                    <h5>
                      Recent Questions
                    </h5>
                    <a href='/customer/portal/topics/232038-buying-a-policy/questions?b_id=755'>View all</a>
                  </header>

                  <ul class='questions'>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/11522090-cover-for-engagement-ring'>Cover for Engagement Ring</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/11502641-buying-for-my-daughter'>Buying for my daughter</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/11500819-travelling-through-middle-and-south-america-unsure-of-the-exact-countries-i-will-visit-'>Travelling through Middle and South America, unsur...</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/11442832-domestic-within-australia'>domestic within Australia</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/11410767-payment'>PAYMENT</a>
                      </li>
                    
                  </ul>
                </section>
              
            </section>
          </li>
        
      
        
          <li class='topic odd'>
            <section>
              <h4>Am I covered if...?</h4>

              
                <section class='list-articles'>
                  <header>
                    <h5>
                      11
                      Articles
                    </h5>
                    <a href='/customer/portal/topics/238832-am-i-covered-if-/articles'>View all</a>
                  </header>

                  <ul class='articles'>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1586734-sports-and-activities-we-don%E2%80%99t-cover'>Sports and activities we don’t cover</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/526511-my-gear-is-lost-stolen-or-damaged'>My gear is lost, stolen or damaged</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/538252-alcohol'>Alcohol</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/721230-returning-early'>Returning Early</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/549575-i-m-on-a-tid-policy-and-my-partner-is-on-a-travelclear-policy-'>I&#x27;m on a TID policy and my partner is on a TravelClear ...</a>
                      </li>
                    
                  </ul>
                </section>
              

              
                <section class='list-questions'>
                  <header>
                    <h5>
                      Recent Questions
                    </h5>
                    <a href='/customer/portal/topics/238832-am-i-covered-if-/questions?b_id=755'>View all</a>
                  </header>

                  <ul class='questions'>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/421894-motorcycle-scooter-passenger'>Motorcycle/Scooter Passenger</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/370659-peanut-allergy'>Peanut Allergy</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/11531566-flight-changes'>Flight Changes</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/11510728-cruise-medical-evacuation'>Cruise Medical Evacuation</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/11481146-walking-hiking'>walking/Hiking</a>
                      </li>
                    
                  </ul>
                </section>
              
            </section>
          </li>
        
      
        
          <li class='topic even'>
            <section>
              <h4>Medical Conditions</h4>

              
                <section class='list-articles'>
                  <header>
                    <h5>
                      6
                      Articles
                    </h5>
                    <a href='/customer/portal/topics/277035-medical-conditions/articles'>View all</a>
                  </header>

                  <ul class='articles'>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/595777-asthma'>Asthma</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/595785-pre-existing-medical-conditions'>Pre-existing Medical Conditions</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/596029-allergies'>Allergies</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/611220-automatically-covered-medical-conditions'>Automatically Covered Medical Conditions</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/720051-conditions-we-don-t-cover'>Conditions We Don&#x27;t Cover</a>
                      </li>
                    
                  </ul>
                </section>
              

              
                <section class='list-questions'>
                  <header>
                    <h5>
                      Recent Questions
                    </h5>
                    <a href='/customer/portal/topics/277035-medical-conditions/questions?b_id=755'>View all</a>
                  </header>

                  <ul class='questions'>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/11484689-i-have-just-spent-time-in-hospital-with-a-cardiac-event-an-arrhythmia'>I Have just spent time in hospital with a Cardiac ...</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/11410210-if-i-am-injured-o-s-and-need-followup-care-back-in-aus'>if i am injured o/s and need followup care back in...</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/10625627-pre-existing-medical-condition'>Pre existing medical condition</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/10044508-cover-for-pregnancy-issues'>Cover for pregnancy issues</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/8323638-t-2-diabetes-hypertension-cholesterol-normal'>T 2 Diabetes, Hypertension, Cholesterol-Normal</a>
                      </li>
                    
                  </ul>
                </section>
              
            </section>
          </li>
        
      
        
          <li class='topic odd'>
            <section>
              <h4>Emergencies</h4>

              
                <section class='list-articles'>
                  <header>
                    <h5>
                      5
                      Articles
                    </h5>
                    <a href='/customer/portal/topics/238834-emergencies/articles'>View all</a>
                  </header>

                  <ul class='articles'>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/532817-how-to-get-help'>How to Get Help</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/538253-what-do-you-do-if-the-airline-loses-your-luggage-'>What do you do if the airline loses your luggage?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/538256-what-to-do-if-you-need-to-go-to-hospital'>What to do if you need to go to hospital</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/593632-what-to-do-if-my-wallet-has-been-stolen-'>What to do if my wallet has been stolen?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/928674-i-am-at-the-hospital-what-happens-next-'>I am at the hospital. What happens next?</a>
                      </li>
                    
                  </ul>
                </section>
              

              
                <section class='list-questions'>
                  <header>
                    <h5>
                      Recent Questions
                    </h5>
                    <a href='/customer/portal/topics/238834-emergencies/questions?b_id=755'>View all</a>
                  </header>

                  <ul class='questions'>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/8376937-medical-evacuation'>Medical evacuation</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/3657027-lost-passport'>lost passport</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/383356-medical-evacuation-by-air-helicopter-'>Medical evacuation by air (helicopter)</a>
                      </li>
                    
                  </ul>
                </section>
              
            </section>
          </li>
        
      
        
          <li class='topic even'>
            <section>
              <h4>Tripwise</h4>

              
                <section class='list-articles'>
                  <header>
                    <h5>
                      4
                      Articles
                    </h5>
                    <a href='/customer/portal/topics/379282-tripwise/articles'>View all</a>
                  </header>

                  <ul class='articles'>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/838568-what-is-tripwise-'>What is Tripwise?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/840555-how-to-get-tripwise-'>How to get Tripwise?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/840557-how-do-i-log-into-tripwise-'>How do I log into Tripwise?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1586773-why-can%E2%80%99t-i-see-my-current-policy-when-i-log-in-or-go-to-tripwise-'>Why can’t I see my current policy when I log in or go to Tri...</a>
                      </li>
                    
                  </ul>
                </section>
              

              
                <section class='list-questions'>
                  <header>
                    <h5>
                      Recent Questions
                    </h5>
                    <a href='/customer/portal/topics/379282-tripwise/questions?b_id=755'>View all</a>
                  </header>

                  <ul class='questions'>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/9931058-travel-insurance'>travel insurance</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/656872-i-bought-as-a-guest'>I bought as a Guest</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/628095-do-i-need-a-mobile-connection-to-use-tripwise-'>Do I need a mobile connection to use Tripwise?</a>
                      </li>
                    
                  </ul>
                </section>
              
            </section>
          </li>
        
      
        
          <li class='topic odd'>
            <section>
              <h4>About TID</h4>

              
                <section class='list-articles'>
                  <header>
                    <h5>
                      5
                      Articles
                    </h5>
                    <a href='/customer/portal/topics/238835-about-tid/articles'>View all</a>
                  </header>

                  <ul class='articles'>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/515288-helping-people-in-the-places-you-travel'>Helping People in the Places You Travel</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/538258-who-is-tid-'>Who is TID?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/538274-online-security'>Online Security</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/595770-what-to-pack-when-you-travel'>What to pack when you travel</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1332859-travel-insurance-reviews'>Travel Insurance Reviews</a>
                      </li>
                    
                  </ul>
                </section>
              

              
                <section class='list-questions'>
                  <header>
                    <h5>
                      Recent Questions
                    </h5>
                    <a href='/customer/portal/topics/238835-about-tid/questions?b_id=755'>View all</a>
                  </header>

                  <ul class='questions'>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/9682081-discount'>discount</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/1198090-choice-magazine'>CHOICE magazine</a>
                      </li>
                    
                  </ul>
                </section>
              
            </section>
          </li>
        
      
        
          <li class='topic even'>
            <section>
              <h4>What we mean by...</h4>

              
                <section class='list-articles'>
                  <header>
                    <h5>
                      12
                      Articles
                    </h5>
                    <a href='/customer/portal/topics/238836-what-we-mean-by-/articles'>View all</a>
                  </header>

                  <ul class='articles'>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/514981-rental-vehicle---definition'>Rental Vehicle - definition</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/514997-dependents---definition'>Dependents - definition</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/515003-close-relative---definition'>Close Relative - definition</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/526736-pre-existing-medical-conditions---definition'>Pre-Existing Medical Conditions - definition</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/532804-personal-liability---definition'>Personal Liability - Definition</a>
                      </li>
                    
                  </ul>
                </section>
              

              
                <section class='list-questions'>
                  <header>
                    <h5>
                      Recent Questions
                    </h5>
                    <a href='/customer/portal/topics/238836-what-we-mean-by-/questions?b_id=755'>View all</a>
                  </header>

                  <ul class='questions'>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/10461130-redundancy'>Redundancy</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/9842001-motorhome'>Motorhome</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/9742325-bought-before'>Bought Before</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/9606764-australian-citizen-living-abroad-and-holidaying-back-in-australia'>Australian citizen living abroad and holidaying ba...</a>
                      </li>
                    
                      <li class='question'>
                        <a href='/customer/portal/questions/8525803-discount'>discount</a>
                      </li>
                    
                  </ul>
                </section>
              
            </section>
          </li>
        
      
    </ul>
    
  </section>
</section>
  

<aside class='aside'>
              
  <section class='talk-to-us'>
    <h4>
      Talk to us
    </h4>
    <dl class='contact-number'>
      <dt>From Australia</dt>
      <dd>1300 843 843 &nbsp; (1300 TID TID)</dd>

      <dt>From Overseas</dt>
      <dd>+61 2 8263 0483</dd>
    </dl>
  
    <dl class="open-hrs">
      <dt>
        Monday to Friday
      </dt>
      <dd>
        8:00am - 8:00pm
      </dd>
      <dt>
        Saturday and Sunday
      </dt>
      <dd>
        10:00am - 2:00pm
      </dd>
    </dl>
  </section>

  <section class='emergencies'>
    <h4>Emergencies</h4>
    <p>Call +61 2 9234 3123</p>
    <a href="http://www.travelinsurancedirect.com.au/in-an-emergency">more details</a> 
  </section>
  
  <section class='contact-us'>
    <h4>Contact us</h4>
    
    <ul class="desk-contact-list">
      
        <li><a href="/customer/portal/emails/new" data-tooltip aria-haspopup="true" class="has-tip [tip-bottom] [radius round]" title="Our customer service team will respond to you privately."><span class="fa fa-envelope"></span>Email us</a></li>
      
        <li><a href="/customer/portal/questions/new" data-tooltip aria-haspopup="true" class="has-tip [tip-bottom] [radius round]" title="This will be visible on the public forum for the benefit of everyone."><span class="fa  fa-comment"></span>Post a question</a></li>
      
        <li><a href="https://www.facebook.com/TIDaustralia"><span class="fa fa-facebook"></span>Facebook</a></li>

        <li><a href="https://twitter.com/TIDaustralia"><span class="fa fa-twitter"></span>Twitter</a></li>

        <li><a href="https://plus.google.com/+travelinsurancedirect"><span class="fa fa-google-plus"></span>Google+</a></li>

      </ul>
  </section>
  
  
</aside>
</div>

{% endblock %}