{% layout "desk" %}
{% block title %}Customer Service Information from TID{% endblock %}
{% block content %}


<!--begin:page_index-->


<div id='main' role='main'>  


<!--begin:question_show-->

<section id="main-content">

  <nav class="breadcrumbs">
    <a href="/?b_id=755" rel="index up up">Customer Service</a> »
    <a href="/customer/portal/topics/277035-medical-conditions/articles?b_id=755" rel="up">Medical Conditions</a> »
    Pre-existing Medical Condition...
  </nav>

  <article class="article">
    <h2>
      Pre-existing Medical Conditions
    </h2>

    <div class="body">
      <div>
      <p>TID automatically covers some pre-existing medical conditions.&nbsp;</p>

      <p>The policy wording defines pre-existing medical&nbsp;condition as:</p>

<ol>
	<li>An ongoing medical or dental condition&nbsp;of which you are aware, or related&nbsp;complication you have or the symptoms&nbsp;of which you are aware; OR</li>
	<li>A medical or dental condition that is&nbsp;currently being, or has been, investigated or&nbsp;treated by a health professional (including&nbsp;dentist or chiropractor) at any time in&nbsp;the past, prior to policy purchase; OR</li>
	<li>Any condition for which you take&nbsp;prescribed medicine; OR</li>
	<li>Any condition for which you&nbsp;have had surgery; OR</li>
	<li>Any condition for which you see&nbsp;a medical specialist; OR</li>
	<li>Pregnancy.</li>
</ol>

<div>
<h3><strong>Automatically covered conditions</strong></h3>

<div>The following 43 pre-existing medical&nbsp;conditions are automatically covered with no&nbsp;additional premium. You are automatically&nbsp;</div>

<div>covered if your pre-existing medical condition&nbsp;is described below, provided that you:</div>

<ul>
	<li>do not have any other pre-existing&nbsp;medical condition; and</li>
	<li>have not been hospitalised (including&nbsp;day surgery or emergency department&nbsp;attendance) in the past 24 months</li>
</ul>

<ol>
	<li>Acne</li>
	<li>Allergies limited to Rhinitis,&nbsp;Chronic Sinusitis, Eczema, Food&nbsp;Intolerance, Hayfever</li>
	<li>Asthma providing that you are less than&nbsp;60 years of age at the time of policy&nbsp;purchse and/or have no other lung disease</li>
	<li>Bell’s Palsy</li>
	<li>Benign Positional Vertigo</li>
	<li>Bunions</li>
	<li>Carpal Tunnel Syndrome</li>
	<li>Cataracts</li>
	<li>Coeliac Disease</li>
	<li>Congenital Blindness</li>
	<li>Congenital Deafness</li>
	<li>Diabetes Mellitus (Types I and II) –&nbsp;providing you were diagnosed over&nbsp;12 months ago, have no eye, kidney,&nbsp;nerve or vascular complications and&nbsp;do not also suffer from a known&nbsp;cardiovascular disease, ie hypertension,&nbsp;hyperlipidaemia or hypercholesterolaemia&nbsp;(and are under 50 years of age at the&nbsp;date of policy purchase for Type I)</li>
	<li>Dry Eye Syndrome</li>
	<li>Epilepsy provided there has been&nbsp;no change to your medication&nbsp;regime in the past 12 months</li>
	<li>Folate Deficiency</li>
	<li>Gastric Reflux</li>
	<li>Glaucoma</li>
	<li>Goitre</li>
	<li>Graves’ Disease</li>
	<li>Hiatus Hernia</li>
	<li>High Cholesterol (Hypercholesterolaemia) &nbsp;provided you do not also suffer&nbsp;from a known cardiovascular&nbsp;disease and/or diabetes</li>
	<li>High Blood Lipids (Hyperlipidaemia)&nbsp;provided you do not also suffer&nbsp;from a known cardiovascular&nbsp;disease and/or diabetes</li>
	<li>High Blood Pressure (Hypertension)&nbsp;provided you do not also suffer&nbsp;from a known cardiovascular&nbsp;disease and/or diabetes</li>
	<li>Hypothyroidism, including&nbsp;Hashimoto’s&nbsp;Disease</li>
	<li>Impaired Glucose Tolerance</li>
	<li>Incontinence</li>
	<li>Insulin Resistance</li>
	<li>Iron Deficiency Anaemia</li>
	<li>Macular Degeneration</li>
	<li>Meniere’s Disease</li>
	<li>Migraine</li>
	<li>Nocturnal Cramps</li>
	<li>Osteopaenia</li>
	<li>Osteoporosis</li>
	<li>Pernicious Anaemia</li>
	<li>Plantar Fasciitis</li>
	<li>Pregnancy: for a single, uncomplicated&nbsp;pregnancy, where your trip ends&nbsp;on or before 26 weeks gestation,&nbsp;which does not arise from services or&nbsp;treatment associated with an assisted&nbsp;reproductive program, including but&nbsp;not limited to in vitro fertilisation.</li>
	<li>Raynaud’s Disease</li>
	<li>Sleep Apnoea</li>
	<li>Solar Keratosis</li>
	<li>Trigeminal Neuralgia</li>
	<li>Trigger Finger</li>
	<li>Vitamin B12 Deficiency</li>
</ol>
</div>
</div>

<div><br>
<span style="line-height: 1.6em;">If your condition does not appear on the list above&nbsp;try <a href="http://www.suresave.net.au/travel-insurance-pre-existing-medical-conditions?campaign=TIDTC13">SureSave&nbsp;</a></span><a href="http://www.suresave.net.au/travel-insurance-pre-existing-medical-conditions?campaign=TIDTC13" style="line-height: 1.6em;" target="_blank">TravelClear</a><span style="line-height: 1.6em;">&nbsp;where you can assess your medical condition&nbsp;online in about 10 minutes and find out what it will cost to cover.</span><br>
<br>
Alternatively, although we don't advise you to travel without cover,&nbsp;you can still buy a policy with us - but this&nbsp;means you will not be covered for any claims related to, exacerbated by, or arising from pre-existing medical conditions.</div>

    </div>
  
    
    
    <div class="author">
      This article was written by <a href="http://www.travelinsurancedirect.com.au/author/alison-rex-paulin" rel="author">Alison Rex Paulin.</a> 
    </div>

    <a href="http://www.travelinsurancedirect.com.au/travel-insurance-quote" class="get-a-quote button dark-blue">Get a quote now</a>

    
    <script>
      $(function() {
        $('.get-a-quote').on('click', function() {
          wng.googleAnalytics.trackEventOnNextLoad('Service', 'Clicked service article get a quote');
        });
      });
    </script>
    
    <footer>
      
        <div class="rate-article">
          <div id="rate_article_container">
	<div id="rate_article">
		<div class="">
			<a href="https://service.travelinsurancedirect.com.au/customer/en/portal/articles/595785/rate?rating=1" class="rate_link" data-method="post" data-remote="true" rel="nofollow"> Yes</a>
			<span>
        I found this article helpful
			</span>
		</div>
		<div class="rate-link-down">
			<a href="https://service.travelinsurancedirect.com.au/customer/en/portal/articles/595785/rate?rating=0" class="rate_link" data-method="post" data-remote="true" rel="nofollow"> No</a>
			<span>
        I did not find this article helpful
			</span>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$.get('/customer/en/portal/articles/595785/is_rateable.json', function(json) {
			if (json.is_rateable) {
				$("#rate_article_container").show();
			}
		});
	});
</script>

        </div>
      
    
      <time class="last-updated">
        Last Updated: Jun 17, 2014
      </time>
    </footer>
    <div id="tid_widget_outer_container"></div>
    
    
  </article>
</section>

<script>
  // Function to wrap text links in anchors
  (function() {
    var URLRegex = /(?:\b|(?:http(?:s)?:\/\/))(?:[a-z0-9\-@]+\.)+(?:ly|eu|us|jp|uk|nz|aero|asia|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|travel|cz|ar|it)(?:\.[a-z]{2,3})*(?:\/(?:\.?[:#@a-z0-9\-_A-Z%&+]+)*)*(?:\?[a-zA-Z:=&_%+\';0-9\*\.\,\-]*)?/gi;

    window.linkifyElement = function(jQueryElement) {
      // Don't search iframes or it will bug out, and obviously don't match the contents of existing anchors!
      var textNodes = jQueryElement.find(":not(iframe, a)").andSelf().contents().filter(function() {
        return this.nodeType == 3;
      });

      textNodes.each(function(i, textNode) {

        var wrappedNode = $(textNode);
        var currentText = wrappedNode.text();
        var replacedText = currentText.replace(URLRegex, function(captured) {
          if (captured.indexOf('http') == 0) {
            var url = captured
          } else {
            var url = 'http://' + captured;
          }

          return "<a href='" + url + "'>" + captured + "</a>";
        });

        if (replacedText != currentText) {
          var span = $('<span/>').html(replacedText);
          wrappedNode.after(span).remove();  
        }
      });
    }
  })();
  
  $(function() {
    linkifyElement($('.answer .body'));
    linkifyElement($('.question .body'));
  });
</script><!--end:question_show-->

  

<aside class='aside'>
  
  <div class='small-search-bar'>
    <form action='/customer/portal/articles/search' method='get' id='support-search' class='support-search-small'>
      {{template_form_params}}
      <input id='q' name='q' placeholder='Search or ask us' type='text' maxlength='100' value='{{ search_term }}' class='small-search-terms' />
      <input class='small-search-submit' type='submit' value='Search' />
    </form>
  </div>
  <!-- Make sure autocompleter works -->
  <script type='text/javascript'>
  //<![CDATA[
  jQuery(document).ready(function() {
    $("#q").bind("autocompleteopen", function(event, ui) {
      $('.ui-autocomplete').css('width','230px');
    });
  });
  //]]>
  </script>
              
  <section class='talk-to-us'>
    <h4>
      Talk to us
    </h4>
    <dl class='contact-number'>
      <dt>From Australia</dt>
      <dd>1300 843 843 &nbsp; (1300 TID TID)</dd>

      <dt>From Overseas</dt>
      <dd>+61 2 8263 0483</dd>
    </dl>
  
    <dl class="open-hrs">
      <dt>
        Monday to Friday
      </dt>
      <dd>
        8:00am - 8:00pm
      </dd>
      <dt>
        Saturday and Sunday
      </dt>
      <dd>
        10:00am - 2:00pm
      </dd>
    </dl>
  </section>

  <section class='emergencies'>
    <h4>Emergencies</h4>
    <p>Call +61 2 9234 3123</p>
    <a href="http://www.travelinsurancedirect.com.au/in-an-emergency">more details</a> 
  </section>
  
  <section class='contact-us'>
    <h4>Contact us</h4>
    
    <ul class="desk-contact-list">
      
        <li><a href="/customer/portal/emails/new" data-tooltip aria-haspopup="true" class="has-tip [tip-bottom] [radius round]" title="Our customer service team will respond to you privately."><span class="fa fa-envelope"></span>Email us</a></li>
      
        <li><a href="/customer/portal/questions/new" data-tooltip aria-haspopup="true" class="has-tip [tip-bottom] [radius round]" title="This will be visible on the public forum for the benefit of everyone."><span class="fa  fa-comment"></span>Post a question</a></li>
      
        <li><a href="https://www.facebook.com/TIDaustralia"><span class="fa fa-facebook"></span>Facebook</a></li>

        <li><a href="https://twitter.com/TIDaustralia"><span class="fa fa-twitter"></span>Twitter</a></li>

        <li><a href="https://plus.google.com/+travelinsurancedirect"><span class="fa fa-google-plus"></span>Google+</a></li>

      </ul>
  </section>
  
  
</aside>
</div>

{% endblock %}