{% block title %}Group Travel Insurance{% endblock %}
{% block content %}
<div class="row">
            <div class="small-12 medium-9 large-8 column">

<div class="zone zone-content">
<article class="o-form content-item">
    <header>
        
    </header>
    

<div id="contact-us">
<form action="/oforms/Home/SubmitForm" enctype="" id="Group-Travel-Insurance" method="post"><input id="oforms_name" name="oforms.name" type="hidden" value="Group-Travel-Insurance"><input id="ReturnUrl" name="ReturnUrl" type="hidden" value="/group-travel-insurance"><h1>Group Travel Insurance</h1>

<p>TID is Australia's #1 travel insurance. If you are a school, club, group or association and are arranging a trip for a group, we can offer you special rates that can save you a significant amount of money.</p>
<p>Please complete the following and we'll get back to you within 48hrs.</p>

<article class="row">
  <div class="large-12 columns">
  <label for="GroupName">The name of the group</label><input id="GroupName" name="GroupName" type="text" value=""></div>
  <div class="large-6 columns">
  <label for="ReaonsForTravel">Reason for travel</label><input id="ReaonsForTravel" name="ReaonsForTravel" type="text" value=""></div>
  <div class="large-6 columns">
      <label for="GroupType">Type of group</label>
      <select id="GroupType" class="selectLng valid" name="GroupType">
          <option>Extended family</option>
          <option>Sporting Club</option>
          <option>Tour groups</option>
          <option>Club</option>
          <option>Civic organisation</option>
          <option>Professional association</option>
          <option>Student group</option>
          <option>Other ...</option>
      </select>
      </div>
  <div class="large-6 columns">
  <label for="TripDestination">Destination</label><input id="TripDestination" name="TripDestination" type="text" value=""></div>
  <div class="large-6 columns">
  <label for="NumberOfPayingTravellers">Number of travellers</label><input id="NumberOfPayingTravellers" name="NumberOfPayingTravellers" type="text" value=""></div>
  <div class="large-6 columns">
  <label for="ContactName">Your name</label><input id="ContactName" name="ContactName" type="text" value=""></div>
  
<div class="large-6 columns">
  <label for="Email">Your email</label><input id="Email" name="Email" type="text" value=""></div>

<div class="large-6 columns">
  <label for="TripStart">Start date of your trip</label><select name="TripStartDay"><option selected="selected">1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option><option>25</option><option>26</option><option>27</option><option>28</option><option>29</option><option>30</option><option>31</option></select>
  
  <select name="TripStartMonth"><option>Jan</option><option>Feb</option><option>Mar</option><option selected="selected">Apr</option><option>May</option><option>Jun</option><option>Jul</option><option>Aug</option><option>Sep</option><option>Oct</option><option>Nov</option><option>Dec</option></select><select name="TripStartYear"><option selected="selected">2015</option><option>2016</option><option>2017</option><option>2018</option></select></div>
  
    <div class="large-6 columns">
  <label for="TripEnd">End date of your trip</label><select name="TripEndDay"><option selected="selected">1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option><option>25</option><option>26</option><option>27</option><option>28</option><option>29</option><option>30</option><option>31</option></select><select name="TripEndMonth"><option>Jan</option><option>Feb</option><option>Mar</option><option selected="selected">Apr</option><option>May</option><option>Jun</option><option>Jul</option><option>Aug</option><option>Sep</option><option>Oct</option><option>Nov</option><option>Dec</option></select><select name="TripEndYear"><option selected="selected">2015</option><option>2016</option><option>2017</option><option>2018</option></select></div>
  <div class="large-6 columns">
  <label for="PhoneNumber">Your phone number</label><input id="PhoneNumber" name="PhoneNumber" type="text" value=""></div>
  <div class="large-6 columns" style="height:150px">
  <label>Please enter the code you see in the image below</label><img alt="captcha" src="/oforms/Home/GenerateCaptcha?c=1774624472" title="captcha">    <br>
<input class="required" id="oforms_captcha" name="oforms_captcha" remote="/oforms/Home/ValidateCaptcha?c=1774624472" type="text" value=""></div>
  <input class="button blue small-extended" id="submit" type="submit" value="Send">
</article><input name="__RequestVerificationToken" type="hidden" value="JtBrEHJNKZcAyUI7J1E8YWAbLztUf9IZWvBh0b07Iqtqf8gMjZFstpn0r4YDTVlYpPr0jy_-9o18XsayGaYGv0ymJ3iZoX6nohto6-2STCgbKe2JeLTh3dmRFlkITUXV4t9Qzqj0kIJHgg9yH5mxV7NAnD_y5BN56DkxSFTHPoo1"></form>

<div class="oforms" style="display:none"><a href="http://extendorchard.co.uk" target="_blank">Extend Orchard</a></div>
</div>


</article></div>
            </div>
            <div class="small-12 medium-3 large-3 column">
<div class="zone zone-aside-second">
<article class="widget-ContactInformationAside widget-aside-second widget-html-widget widget">
    <p></p>
<p></p>
<p></p><aside class="aside contact">
<h3>Customer Service</h3>
<p class="contact-number">1300 843 843</p>
<dl><dt>Monday to Friday</dt><dd>8:00am - 8:00pm</dd><dt>Saturday and Sunday</dt><dd>10:00am - 2:00pm</dd></dl>
<h3>Claims</h3>
<p>To <a href="/how-to-make-a-claim">make a claim</a>, please download &amp; complete a claim form</p>
<h3>Emergencies</h3>
<p><a href="/in-an-emergency">In an emergency</a>, please call our worldwide 24/7 assitance</p>
</aside><p></p>
<p></p>
<p></p>
<p></p>
</article></div>            </div>
        </div>

{% endblock %}