{% block title %}Travel Insurance Direct{% endblock %}
{% block content %}

<article class="content-item homepage">
<div class="header-panel blue-panel" id="homepage-header">
  <div class="row title">
    <div class="small-12 column">
      <h1 class="white">Travel Insurance Direct</h1>
    </div>
  </div>

<!--   TID QQWidget Container    -->
<div class="row qqw-full-width">
  <div class="small-12 column">
    
    <!--  Include QQWidget  -->
    {% include "qqw" %}
    
  </div>
</div>
  
<!-- QQW Container END -->
  
  
</div>
  
<div class="benefits-bar blue">

    <!--  Include Benefits Bar  -->
    {% include "benefits-bar" %}
  
</div>
  
<div class="content-panel content tripwise-panel">
  <div class="row">
    <div class="small-12 column">
      <h2 class="medium-text-center blue">Just a TID smarter on your travels</h2>
      
      <div class="row">
        <div class="small-12 medium-4 column middle">
          <ul class="no-bullet medium-text-right">
            <li>
              <a href="//www.travelinsurancedirect.com.au/tripwise-iphone-android-app-from-travel-insurance-direct?takeover=tripwise-phraze">
                <h4>Phrase Books</h4>
                <p>Essential phrases for your destination so you’ll be able to direct a taxi, eat with the locals and buy all the souvenirs you’ll ever need.</p>
              </a>
            </li>
            <li>
              <a href="http://www.travelinsurancedirect.com.au/tripwise-iphone-android-app-from-travel-insurance-direct?takeover=tripwise-help">
                <h4>Get help locally</h4>
                <p>In just a TID bit of trouble? Addresses and contact details for consulates and local emergency services in your destinations.</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="small-12 medium-4 column hide-for-small-only text-center">
          <a href="/tripwise-iphone-android-app-from-travel-insurance-direct?takeover=iPhonePhoto">
          <img src="//www.travelinsurancedirect.com.au/Media/Default/images/Oct2014HomeRedesignTest/tripwise.png" />
          </a>
        </div>
        <div class="small-12 medium-4 column middle">
          <ul class="no-bullet">
            <li>
              <a href="http://www.travelinsurancedirect.com.au/tripwise-iphone-android-app-from-travel-insurance-direct?takeover=tripwise-notes">
                <h4>Trip Notes</h4>
                <p>Insights, advice and helpful tips for your destinations. Everything you need to avoid trouble and have a better trip.</p>
              </a>
            </li>
            <li>
              <a href="http://www.travelinsurancedirect.com.au/tripwise-iphone-android-app-from-travel-insurance-direct?takeover=tripwise-policy">
                <h4>Your policy</h4>
                <p>Carry your policy details, emergency contact numbers and claims instructions on your phone. You can even buy a policy before you go.</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="row">
        <div class="small-12 column text-center">
          <a class="button blue small-expand" href="#">Download Tripwise App</a>
        </div>
      </div>
      
    </div>
  </div>
</div>
  
<div class="content-panel content grey-panel benefits-panel">  
  <!-- Include Benefits Panel Widget -->
  {% include "benefits-panel" %}  
</div>  
  
  
<div class="content-panel content blue-panel amt-panel">
  <div class="row">
    <div class="small-12 column">
      <h2 class="white">Frequent traveller? Save with Annual Multi Trip</h2>
      
      <div class="row">
        <div class="small-12 medium-4 column hide-for-small">
          <img src="/Media/Default/images/amt_globe.png" />
        </div>
        <div class="small-12 medium-8 column left">
            <p class="dark-blue amt-p">Are you planning a few trips this year for work and pleasure? Rather than buying every time you travel, get one annual multi trip travel insurance policy and have the same level of cover all year round, with the flexibility you need. Saving you and your family time and money.</p>
            <a class="button dark-blue medium small-expand" href="//www.travelinsurancedirect.com.au/annual-travel-insurance?homepage=amtcta">Get Annual Cover</a>
        </div>
      </div> 
      <hr class="hide-for-small blue">
      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
        <li class="text-with-img amt-medical">
            <a href="http://www.travelinsurancedirect.com.au/annual-travel-insurance?homepage=medical">
                <h5 class="benefit-title dark-blue">Need medical help?</h5>
                <p class="white">Our AMT covers domestic and international trips</p>
            </a>
        </li>
        <li class="text-with-img amt-cover">
            <a href="http://www.travelinsurancedirect.com.au/annual-travel-insurance?homepage=workplay" class="dark-blue">
                <h5 class="benefit-title dark-blue">Work and play</h5>
                <p class="white">Cover for your business and leisure trips</p>
            </a>
        </li>
        <li class="text-with-img amt-flexible">
            <a href="http://www.travelinsurancedirect.com.au/annual-travel-insurance?homepage=workplay" class="dark-blue">
                <h5 class="benefit-title dark-blue">Flexible cover</h5>
                <p class="white">Travel with or without your partner</p>
            </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</article>

{% endblock %}