{% block title %}TID Details page{% endblock %}
{% block body_class %}details{% endblock %}
{% block body_id %}details{% endblock %}
{% block content %}

<div class="blue-panel header-panel">
  <div class='row'>
    <div class='small-12 columns'>
      {% include "pp-breadcrumb" %}
      <h1 class="promo-heading">Who is going on this trip?</h1>
    </div>
  </div>
</div>

<div class='mobile-toggle show-for-small-only'>
  Bought before? Tap to login.
</div>

<form action="/PolicyPurchase/MultiTarget" id="detailsForm" method="post">
  <div class="session-tokens">
    <input name="SessionTokenPolicyPurchaseModel" type="hidden" value="09bd265b-85f4-443a-82ec-2ec4c82fd39a">
  </div>

  <section id="main-content" role="main">

    <div class="global-messages-container"></div>

    <div class='inline-sign-in-wrapper mobile-toggle-target'>
      <div class='row'>
        <div class='columns small-12 main-content-column'>
          <section class="panel-important sign-in-or-forgot-password" data-analytics-id="details-signin-top-section">
            <div class="login-panel-main" data-analytics-id="details-inline-signin">
              <h2>Bought before? Log in for quick checkout.</h2>

              <div class="input-group email">
                <label for="AuthenticationRequestDto_EmailAddress">Email</label>
                <input id="AuthenticationRequestDto_EmailAddress" name="AuthenticationRequestDto.EmailAddress" type="text" value="">
              </div>

              <div class="input-group password">
                <label for="AuthenticationRequestDto_Password">Password</label>
                <input type="submit" name="SwitchToForgotPassword" data-analytics-id="details-forgot-password" class="link-like forgot-password-link" value="(Forgot Password?)">
                <input id="AuthenticationRequestDto_Password" name="AuthenticationRequestDto.Password" type="password">
              </div>

              <div class="login-panel-actions">
                <button type="submit" name="InlineSignIn" class="button-secondary" data-analytics-id="details-login-member">
                  Log in <span aria-hidden="true" class="tid-icon icon-tid-button-arrow"></span>
                </button>
              </div>

            </div>
          </section>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class="policy-details main-content-column small-12 medium-12 large-9 columns" data-analytics-id="details-main-section">
        <section class="purchase-path-panel adult-traveller">

          <p>To issue this policy we collect your personal information in line with our <a href="/privacy" target="_blank">privacy policy</a>.</p>

          <fieldset>

            <h2>Adult Traveller</h2>
            <div class="input-group first-name">
              <label for="QuoteDto_Travellers_0__FirstName">First name</label><input class="capitalize" id="QuoteDto_Travellers_0__FirstName" name="QuoteDto.Travellers[0].FirstName" type="text" value="">
            </div>
            <div class="input-group last-name">
              <label for="QuoteDto_Travellers_0__Surname">Last name</label><input class="capitalize" id="QuoteDto_Travellers_0__Surname" name="QuoteDto.Travellers[0].Surname" type="text" value="">
            </div>
            <div class="input-group dob">
              <label for="QuoteDto_Travellers_0__DateOfBirthDay">Date of birth</label><select class="dob-day-field" id="QuoteDto_Travellers_0__DateOfBirthDay" name="QuoteDto.Travellers[0].DateOfBirthDay"><option selected="selected"></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select><select class="dob-month-field" id="QuoteDto_Travellers_0__DateOfBirthMonth" name="QuoteDto.Travellers[0].DateOfBirthMonth"><option selected="selected"></option>
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="6">Jun</option>
                <option value="7">Jul</option>
                <option value="8">Aug</option>
                <option value="9">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
              </select><select class="dob-year-field" id="QuoteDto_Travellers_0__DateOfBirthYear" name="QuoteDto.Travellers[0].DateOfBirthYear"><option></option>
                <option value="1934">1934</option>
                <option value="1935">1935</option>
                <option value="1936">1936</option>
                <option value="1937">1937</option>
                <option value="1938">1938</option>
                <option value="1939">1939</option>
                <option value="1940">1940</option>
                <option value="1941">1941</option>
                <option value="1942">1942</option>
                <option value="1943">1943</option>
                <option value="1944">1944</option>
                <option value="1945">1945</option>
                <option value="1946">1946</option>
                <option value="1947">1947</option>
                <option value="1948">1948</option>
                <option value="1949">1949</option>
                <option value="1950">1950</option>
                <option value="1951">1951</option>
                <option value="1952">1952</option>
                <option value="1953">1953</option>
                <option value="1954">1954</option>
                <option value="1955">1955</option>
                <option value="1956">1956</option>
                <option value="1957">1957</option>
                <option value="1958">1958</option>
                <option value="1959">1959</option>
                <option value="1960">1960</option>
                <option value="1961">1961</option>
                <option value="1962">1962</option>
                <option value="1963">1963</option>
                <option value="1964">1964</option>
                <option value="1965">1965</option>
                <option value="1966">1966</option>
                <option value="1967">1967</option>
                <option value="1968">1968</option>
                <option value="1969">1969</option>
                <option value="1970">1970</option>
                <option value="1971">1971</option>
                <option value="1972">1972</option>
                <option value="1973">1973</option>
                <option value="1974">1974</option>
                <option value="1975">1975</option>
                <option value="1976">1976</option>
                <option value="1977">1977</option>
                <option value="1978">1978</option>
                <option value="1979">1979</option>
                <option value="1980">1980</option>
                <option selected="selected" value="1981">1981</option>
                <option value="1982">1982</option>
                <option value="1983">1983</option>
                <option value="1984">1984</option>
                <option value="1985">1985</option>
                <option value="1986">1986</option>
                <option value="1987">1987</option>
                <option value="1988">1988</option>
                <option value="1989">1989</option>
                <option value="1990">1990</option>
                <option value="1991">1991</option>
                <option value="1992">1992</option>
                <option value="1993">1993</option>
                <option value="1994">1994</option>
                <option value="1995">1995</option>
                <option value="1996">1996</option>
                <option value="1997">1997</option>
                <option value="1998">1998</option>
                <option value="1999">1999</option>
                <option value="2000">2000</option>
                <option value="2001">2001</option>
                <option value="2002">2002</option>
                <option value="2003">2003</option>
                <option value="2004">2004</option>
                <option value="2005">2005</option>
                <option value="2006">2006</option>
                <option value="2007">2007</option>
                <option value="2008">2008</option>
                <option value="2009">2009</option>
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
            </select></div>



            <div class="input-group email">
              <label for="QuoteDto_Travellers_0__Email">Email address</label><input id="QuoteDto_Travellers_0__Email" name="QuoteDto.Travellers[0].Email" type="text" value=""></div>

            <div class="input-group confirm-email">
              <label for="QuoteDto_Travellers_0__ConfirmEmail">Confirm email address</label><input id="QuoteDto_Travellers_0__ConfirmEmail" name="QuoteDto.Travellers[0].ConfirmEmail" type="text" value=""></div>

            <div class="input-group tel-home">
              <label for="QuoteDto_Travellers_0__LandlinePhoneNumber">Home phone</label><input id="QuoteDto_Travellers_0__LandlinePhoneNumber" name="QuoteDto.Travellers[0].LandlinePhoneNumber" type="text" value=""></div>

            <div class="input-group tel-mobile">
              <label for="QuoteDto_Travellers_0__MobilePhoneNumber">Mobile</label><input id="QuoteDto_Travellers_0__MobilePhoneNumber" name="QuoteDto.Travellers[0].MobilePhoneNumber" type="text" value=""></div>
          </fieldset>
          <ul class="input-validation-errors">






          </ul>

        </section>

        <section class="purchase-path-panel dependent-details">



          <h2>Children / Dependents</h2>

          <div class="update manual-update-container">
            <label for="NumberOfDependents">Number of dependent children under the age of 21 to include in policy:</label>
            <select class="manual-update-trigger" id="NumberOfDependents" name="NumberOfDependents"><option selected="selected" value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
            <span class="manual-update" style="display: none;">
              <input type="submit" name="UpdateDependents" value="Update" class="button-tertiary">
            </span>
          </div>


        </section>

        <section class="purchase-path-panel address-details">

          <h2>Address</h2>

          <fieldset>

            <div class="input-group address-1">
              <label for="QuoteDto_AddressLine1">Street address:</label><input class="capitalize" id="QuoteDto_AddressLine1" name="QuoteDto.AddressLine1" placeholder="Street address line 1" type="text" value=""></div>

            <div class="input-group address-2">
              <input class="capitalize" id="QuoteDto_AddressLine2" name="QuoteDto.AddressLine2" placeholder="Street address line 2" type="text" value=""></div>

            <div class="input-group town">
              <label for="QuoteDto_AddressLine3">District/Suburb/Town</label><input class="capitalize" id="QuoteDto_AddressLine3" name="QuoteDto.AddressLine3" type="text" value=""></div>

            <div class="input-group state">
              <label for="QuoteDto_ProvinceId">State</label><select id="QuoteDto_ProvinceId" name="QuoteDto.ProvinceId"><option selected="selected" value="">Select a State</option>
                <option value="1">Australian Capital Territory</option>
                <option value="2">New South Wales</option>
                <option value="8">Northern Territory</option>
                <option value="4">Queensland</option>
                <option value="5">South Australia</option>
                <option value="7">Tasmania</option>
                <option value="3">Victoria</option>
                <option value="6">Western Australia</option>
            </select></div>
            <div class="input-group postcode">
              <label for="QuoteDto_PostalCode">Postcode</label><input id="QuoteDto_PostalCode" maxlength="4" name="QuoteDto.PostalCode" type="text" value=""></div>

            <div class="preselected-country">
              <label>Country</label>
              <p>Australia</p>
            </div>



          </fieldset>

        </section>

        <section class="purchase-path-panel join-or-sign-in-or-guest" data-analytics-id="details-signin-bottom-section">

          <div class="continue-panel-opt2" data-analytics-id="details-save-and-continue-opt2">
            <h2>Choose a password so you can:</h2>

            <div class="choose-password-benefits">
              <ul>
                <li>Use our <a class="video-link" href="/tripwise-iphone-android-app-from-travel-insurance-direct">Tripwise App</a></li>
                <li>Make a claim online</li>
                <li>Change or extend your policy</li>
                <li>Buy faster next time</li>
              </ul>
            </div>

            <div class="input-group password">
              <label for="UserDto_UserCredential_Password">Enter password</label>        <span class="field-optional-text">(Optional)</span>
              <input id="UserDto_UserCredential_Password" name="UserDto.UserCredential.Password" type="password"></div>
            <div class="input-group confirm-password">
              <label for="UserDto_UserCredential_ConfirmPassword">Confirm password</label>        <span class="field-optional-text">(Optional)</span>
              <input id="UserDto_UserCredential_ConfirmPassword" name="UserDto.UserCredential.ConfirmPassword" type="password"></div>

            <div class='input-group cta-wrapper'>
              <button type="submit" name="TryLoginAndSubmitDetails" class="button-primary save-and-continue">
                Save &amp; Continue <span aria-hidden="true" class="tid-icon icon-tid-button-arrow"></span>
              </button>
            </div>

            <p class="bought-before">Bought with us before?
            <a class="login" data-analytics-id="details-login-link" href="https://www.travelinsurancedirect.com.au/PolicyPurchase/OpenSignIn?SessionTokenPolicyPurchaseModel=09bd265b-85f4-443a-82ec-2ec4c82fd39a">Log in</a>
            </p>

          </div>

        </section>
      </div>
      <aside class='columns small-12 medium-12 large-3' id="additional-content" data-analytics-id="details-side-bar-content">

        <h4>Contact us</h4>
        
        <ul class="contact-list">
          
          <li><a href="/customer/portal/emails/new" data-tooltip="" aria-haspopup="true" class="has-tip [tip-bottom] [radius round]" title="Our customer service team will respond to you privately."><span class="fa fa-envelope"></span>Email us</a></li>
          <li><a href="/customer/portal/questions/new" data-tooltip="" aria-haspopup="true" class="has-tip [tip-bottom] [radius round]" title="This will be visible on the public forum for the benefit of everyone."><span class="fa  fa-comment"></span>Post a question</a></li>
          <li><a href="https://www.facebook.com/TIDaustralia"><span class="fa fa-facebook"></span>Facebook</a></li>
          <li><a href="https://twitter.com/TIDaustralia"><span class="fa fa-twitter"></span>Twitter</a></li>
          <li><a href="https://plus.google.com/+travelinsurancedirect"><span class="fa fa-google-plus"></span>Google+</a></li>

        </ul>
      </aside>
    </div>

  </section>
</form>


{% endblock %}
