{% block title %}TID Options page{% endblock %}
{% block body_class %}options{% endblock %}
{% block body_id %}options{% endblock %}
{% block content %}

<div id="content" data-analytics-id="layout-content-container">


  <div id="modal-container">

    <!-- Donations Modal Start

    <div class="modal-content donation-editor-panel donation-editor-modal">
      <form action="/Quote/MultiTarget" id="donationForm" method="post">    <input class="close link-like" type="submit" value="Close &times;" name="CancelEditDonationProjects">
        <h2 class="modal-header">
          Select a project
        </h2>

        <div class="item ">
          <input checked="" class="bool" id="15" name="QuoteDto.DonationProjectId" type="radio" value="15">
          <img class="logo" alt="WaterAid Australia" src="http://build.footprints.org.au/uploadimages/WaterAid_small.jpg">
          <img class="project" alt="Water, sanitation &amp; hygiene education" src="http://build.footprints.org.au/uploadimages/img-home-03.jpg">
          <div class='item-wrapper'>
            <label class="header" for="13">Blindness prevention program</label>
            <a class="learn-more" target="_blank" href="http://build.footprints.org.au/default.aspx?c=10&amp;x1=13">Find out more</a>
          </div>

        </div>

        <div class="item last-item selected">
          <input checked="checked" class="bool" id="13" name="QuoteDto.DonationProjectId" type="radio" value="13">

          <img class="logo" alt="Fred Hollows Foundation" src="http://build.footprints.org.au/uploadimages/fhf_small.jpg">
          <img class="project" alt="Blindness prevention program" src="http://build.footprints.org.au/uploadimages/hollows_camb_small.jpg">
          <div class='item-wrapper'>
            <label class="header" for="13">Blindness prevention program</label>
            <a class="learn-more" target="_blank" href="http://build.footprints.org.au/default.aspx?c=10&amp;x1=13">Find out more</a>
          </div>
        </div>

        <button type="submit" class="continue button-primary" value="" name="UpdateDonation">
          Continue 
          <span aria-hidden="true" class="tid-icon icon-tid-button-arrow"></span>
        </button>
        <button type="submit" value="" name="CancelEditDonationProjects" class="cancel link-like">
          Cancel
          <span aria-hidden="true" class="tid-icon icon-tid-button-arrow"></span>
        </button>
        <p class="footprints-network">
        TID is a member of the 
        <a href="http://footprintsnetwork.org" target="_blank">FootprintsNetwork.org</a>
        </p>
        <div class="session-tokens"><input name="SessionTokenQuoteModel" type="hidden" value="31531087-2d0f-4919-85a5-0baf145d5e5c"></div>
    </form></div>
     Donations Modal End -->

    <!-- Terms and Conditions Modal Start -->
    <div class="modal-content terms-and-conditions terms-and-conditions-modal">
      <form action="/Quote/MultiTarget" data-analytics-id="terms-and-conditions" id="termsAcceptanceForm" method="post">
        <h1>Terms &amp; Conditions</h1>

        <div class="global-messages-container"><div class="global-messages-container"></div></div>

        <div class="pre-ex-check question-wrapper">
          <h3>Do you or anyone on this policy have a Pre-Existing Medical Condition?</h3>

          <div class="input-group radio-button-group">
            <input id="hasPreExTrue" name="QuoteDto.HasPreExCondition" type="radio" value="True">
            <label for="hasPreExTrue">Yes</label>
          </div>
          <div class="input-group radio-button-group">
            <input id="hasPreExFalse" name="QuoteDto.HasPreExCondition" type="radio" value="False">
            <label for="hasPreExFalse">No</label>
          </div>
          <p>Unsure? This is what we mean by
          <a class="link-like load-by-ajax what-is-pre-ex" href="/Quote/ShowPreExInfo?SessionTokenQuoteModel=d7aa4d18-72e0-4524-a5ab-69d7e60d5586">a Pre-Existing Medical Condition.</a></p>
        </div>
        <div data-analytics-id="terms-and-conditions-snow-check" class='question-wrapper'>
          <h3>Will anybody on this policy be skiing or doing any snow sports?</h3>
          <p>
          If anyone on this policy will be skiing or doing any snow sports, you need to 
          <a class="link-like load-by-ajax what-is-pre-ex" href="/Quote/Options?enc=kLg_wPS4F7AFuDMliLqLTZppVFyMfhC7QRT0AN3SJwlkYd4pjeYZlDz8Wjr4gVhypKfuD4vsEfMYs5b6f3LVt1CRwa8vdEfgPfSEqUR2bkbq1Eca1BUfCg1CUZE8mf7Eav6v3ChLmIfb89brIcWgtZVyz7-0NTi2-WfwVHsdCXQ%5E">add ski &amp; snow sports activities cover</a>.
          </p>

          <ul class="terms-and-conditions-check">
            <li>
            <div class="input-group">
              <label for="snow-sports-declaration" class="label-for-single-checkbox">
                <input id="snow-sports-declaration" name="QuoteDto.NoSkiingDeclared" type="checkbox" value="true"><input name="QuoteDto.NoSkiingDeclared" type="hidden" value="false">            
                Neither I, nor anybody on the policy will be skiing or doing snow sports on this trip
              </label>
            </div>
            </li>
          </ul>
        </div>
        <div data-analytics-id="terms-and-conditions-other-check" class='question-wrapper'>
          <h3>Have you read the Product Disclosure Statement yet?</h3>

          <ul class="terms-and-conditions-check">
            <li>
            <div class="input-group">        
              <label for="regulatoryDeclaration_0" class="label-for-single-checkbox">
                <input id="regulatoryDeclaration_0" name="QuoteDto.RegulatoryDeclarations[0].IsSelected" type="checkbox" value="true"><input name="QuoteDto.RegulatoryDeclarations[0].IsSelected" type="hidden" value="false">                           
                I agree to receive all policy documents electronically and have read, understood &amp; agree to the conditions in the 
                <a href="/pds?RegulatoryWordingTranslationId=30" target="blank">Policy Wording</a>              </label>
            </div>
            </li>
            <li>
            <div class="input-group">        
              <label for="regulatoryDeclaration_1" class="label-for-single-checkbox">
                <input id="regulatoryDeclaration_1" name="QuoteDto.RegulatoryDeclarations[1].IsSelected" type="checkbox" value="true"><input name="QuoteDto.RegulatoryDeclarations[1].IsSelected" type="hidden" value="false">                           
                I am a <input type="submit" name="ShowResidentDefinition" class="link-like" value="resident"> of Australia
              </label>
            </div>
            </li>
          </ul>
        </div>
        <div class="session-tokens"><input name="SessionTokenQuoteModel" type="hidden" value="d7aa4d18-72e0-4524-a5ab-69d7e60d5586"></div>      
        <button type="submit" name="SubmitAcceptedTerms" class="continue button-primary">
          Accept <span aria-hidden="true" class="tid-icon icon-tid-button-arrow"></span>
        </button>
        <a class="cancel link-like load-by-ajax" href="/Quote/CancelFromTermsConditions?SessionTokenQuoteModel=d7aa4d18-72e0-4524-a5ab-69d7e60d5586">x Cancel</a>
      </form>
    </div>

    <!-- Terms and Conditions Modal End -->

    <div class="modal-overlay">
    </div>
  </div>





  <form action="/Quote/MultiTarget" id="optionsForm" method="post">  <input type="hidden" class="nonAjaxSignOut" value="true" />

    <div class="blue-panel header-panel">

      <div class='row'>
        <div class='small-12 columns'>
          {% include "pp-breadcrumb" %}
        </div>
      </div>
      <div class='row'>
        <div class='medium-6 large-9 column'>
          <h1 class="promo-heading">Select your options</h1>
        </div>
        <div class='medium-6 large-3 column'>
          <div class='row purchase-info-row'>
            <div class='small-12 column price-column'>
              <strong class="options-total delta-size hide-for-small-only">Total</strong>
              <div class="price-display price-container">
                <span class="currency-symbol">$</span>
                <span class="price-value">
                  710.00
                </span>
                <span class="currency">AUD</span>
              </div>
            </div>
            <div class='small-12 column cta-column'>
              <button type="submit" class="button-primary continue-from-options" name="ShowTermsAndConditions" data-analytics-id="option-continue-top">
                Buy now <span aria-hidden='true' class='tid-icon icon-tid-button-arrow'></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <form action="/Quote/MultiTarget" id="emailQuoteForm" method="post">

      <div class="widget-email-quote">
        <div class='row'>
          <div class='widget-email-quote-content'>
            <div class="email-title">
              <span aria-hidden="true" class="tid-icon icon-tid-email"></span>
              Email your quote
            </div>

            <div class="input-group">
              <input id="QuoteDto_EmailQuoteAddress" name="QuoteDto.EmailQuoteAddress" placeholder="Enter your email" type="text" value="" />
            </div>

            <div class="button-wrapper">
              <button type="submit" class="button-secondary button-no-text" name="SubmitEmailQuote" data-analytics-id="email-quote">
                Send
                <span aria-hidden='true' class='tid-icon icon-tid-button-arrow'></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="session-tokens">
        <input name="SessionTokenQuoteModel" type="hidden" value="285620a3-e98b-4fe7-bc8f-96a9bec1ea3f" />
      </div>

    </form>



    <div class="session-tokens">
      <input name="SessionTokenQuoteModel" type="hidden" value="285620a3-e98b-4fe7-bc8f-96a9bec1ea3f" />
    </div>

    <div class="global-messages-container"></div>

    <section class="main-content" id="main-content" role="main">

      <div class='row'>

        <div class='medium-12 large-9 columns'>
          <!-- Snow Sports -->
          <div class='row skiing-row manual-update-container' id='snow-sports'>
            <div class='small-12 medium-9 large-9 column description-column'>
              <h2>
                <span aria-hidden="true" class="tid-icon icon-tid-snow"></span>
                <span>Will you be skiing or doing any snow sports?</span>
              </h2>
              <div class="input-group">
                <label for="snowSportsOptIn" class="label-for-single-checkbox label-prominent">
                  <input class="manual-update-trigger" data-analytics-id="option-add-snow-sports" id="snowSportsOptIn" name="QuoteDto.PolicyOptions[1].PolicyBasicPercentageOptionDto.IsSingleValueSelected" type="checkbox" value="true" /><input name="QuoteDto.PolicyOptions[1].PolicyBasicPercentageOptionDto.IsSingleValueSelected" type="hidden" value="false" />
                  Yes I need cover for Snow Sports.
                </label>
              </div>
              <p>If you are planning to do any
              <a href=http://service.travelinsurancedirect.com.au/customer/portal/articles/528580-cover-for-skiing-and-snowboarding target=_blank>Skiing or snow sports</a> you need this option.
              </p>
              <span class="manual-update">
                <input type="submit" value="Update" name="UpdateSnowSportsOption" class="button-tertiary" />
              </span>
            </div>

            <div class='small-12 medium-3 large-3 column premium-column'>
              <span class="price-with-currency-medium">$0.00</span>
              <span class="price-description">Additional premium</span>
            </div>
          </div>

          <!-- Reduce Policy Excess -->
          <div class='row reduce-excess-row manual-update-container' id='reduce-excess'>
            <div class='small-12 medium-9 large-9 column description-column'>
              <h2>
                <span aria-hidden="true" class="tid-icon icon-tid-excess"></span>
                <span>Would you like to reduce your policy excess?</span>
              </h2>
              <div class="input-group">
                <label for="reduceExcessOptIn" class="label-for-single-checkbox label-prominent">
                  <input class="manual-update-trigger" data-analytics-id="option-reduce-policy-excess" id="reduceExcessOptIn" name="QuoteDto.PolicyOptions[0].PolicyBasicOptionDto.IsSingleValueSelected" type="checkbox" value="true" /><input name="QuoteDto.PolicyOptions[0].PolicyBasicOptionDto.IsSingleValueSelected" type="hidden" value="false" />
                  Yes, reduce my excess from $100 to $0
                </label>
              </div>
              <p>
              An <a href="http://service.travelinsurancedirect.com.au/customer/portal/articles/526835-policy-excess?b_id=755" 
                target="_blank">excess</a> of $100
              applies to many benefits. By selecting this option you can reduce your excess to 
              $0.
              </p>
              <span class="manual-update">
                <input type="submit" value="Update" name="UpdateExcessBuyoutOption" class="button-tertiary" />
              </span>
            </div>

            <div class='small-12 medium-3 large-3 column premium-column'>
              <span class="price-with-currency-medium">$0.00</span>
              <span class="price-description">Additional premium</span>
            </div>
          </div>

          <!-- Specified Items -->
          <div class='row specified-items-row manual-update-container' id='specItems'>
            <div class='small-12 medium-9 large-9 column description-column'>
              <h2>
                <span aria-hidden="true" class="tid-icon icon-tid-luggage"></span>
                <span>Would you like extra cover for valuable items?</span>
              </h2>

              <table class="specified-item-display">
                <thead>
                  <tr>
                    <th class="item-name">Item Name</th>
                    <th class="item-value">Item Value ($)</th>
                    <th class="premium">Premium ($)</th>
                    <th class="action">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="item-name">iPhone</td>
                  <td class="item-value">1,233.00</td>
                  <td class="premium">$61.65</td>
                  <td class="action">
                    <button class="remove" name="RemoveSpecifiedItem_specifiedItemIndex_0">x<span> remove</span></button>
                  </td>
                </tr>
                <tr>
                  <td class="item-name">iPad</td>
                  <td class="item-value">123.00</td>
                  <td class="premium">$6.15</td>
                  <td class="action">
                    <button class="remove" name="RemoveSpecifiedItem_specifiedItemIndex_1">x<span> remove</span></button>
                  </td>
                </tr>
                </tbody>
              </table>


              <ul class="specified-item-editor row">
                <li class="item-name small-12 medium-4 columns">
                <label>Item Name</label>
                <input id="ActiveQuoteDto_PolicyOptions_0__PolicySpecifiedItemOptionDto_SpecifiedItems_2__Name" name="ActiveQuoteDto.PolicyOptions[0].PolicySpecifiedItemOptionDto.SpecifiedItems[2].Name" type="text" value="">
                </li>
                <li class="item-value small-12 medium-4 columns">
                <label>Item Value ($)</label>
                <input id="ActiveQuoteDto_PolicyOptions_0__PolicySpecifiedItemOptionDto_SpecifiedItems_2__ItemValue" name="ActiveQuoteDto.PolicyOptions[0].PolicySpecifiedItemOptionDto.SpecifiedItems[2].ItemValue" type="text" value="0">
                </li>
                <li class="action small-12 medium-4 columns">
                <label>&nbsp;</label>
                <button class="button-tertiary" name="UpdateEditableItemAndAddNewSpecifiedItem">Update</button>
                </li>
              </ul>

              <input type="submit" value="Add another item" class="button-tertiary" name="UpdateSpecifiedItemOption" />
              <p></p>
              <p>
              If you would like <a href="http://service.travelinsurancedirect.com.au/customer/portal/articles/526847-cover-for-laptops-cameras-and-phones" 
                target="_blank">extra cover</a> for valuable items above our 
              <a href="http://service.travelinsurancedirect.com.au/customer/portal/articles/500346-cover-for-luggage-and-personal-effects" 
                target="_blank">standard</a>, please add them above. This covers you for the full cost of the item in the event of a claim and no 
              <a href="http://service.travelinsurancedirect.com.au/customer/portal/articles/859828-depreciation" 
                target="_blank">depreciation</a> is applied.
              </p>
            </div>

            <div class='small-12 medium-3 large-3 column premium-column'>
              <span class="price-with-currency-medium">$0.00</span>
              <span class="price-description">Additional premium
              </span>

            </div>
          </div>

          <!-- Car Rental -->
          <div class='row car-rental-row manual-update-container' id='carExcess'>
            <div class='small-12 medium-9 large-9 column description-column'>
              <h2>
                <span aria-hidden="true" class="tid-icon icon-tid-car"></span>
                <span>Would you like extra cover for Rental Vehicle Excess?</span>
              </h2>
              <div class="input-group" data-analytics-id="option-rental-excess">
                <label for="donate" class="multi-select">
                  Increase my Rental Vehicle Insurance Excess cover to:
                  <select class="manual-update-trigger" id="QuoteDto_PolicyOptions_3__PolicyBasicOptionDto_BasicOptionNetPriceId" name="QuoteDto.PolicyOptions[3].PolicyBasicOptionDto.BasicOptionNetPriceId"><option selected="selected" value="22">$4,000</option>
                    <option value="23">$4,500</option>
                    <option value="24">$5,000</option>
                    <option value="25">$5,500</option>
                    <option value="26">$6,000</option>
                  </select>
                  AUD
                </label>
              </div>

              <span class="manual-update">
                <input type="submit" value="Update" name="UpdateRentalCarExcessOpton" class="button-tertiary" />
              </span>
              <p>
              If you hire a 
              <a href="http://service.travelinsurancedirect.com.au/customer/portal/articles/514981-rental-vehicle---definition" 
                target="_blank">vehicle</a>
              on your trip and have an accident our standard cover pays up to 
              $4,000
              of any excess you may be liable for from the hire company.
              </p>
            </div>
            <div class='small-12 medium-3 large-3 column premium-column'>
              <span class="price-with-currency-medium">$0.00</span>
              <span class="price-description">Additional premium</span>
            </div>
          </div>

          <!-- Footprints -->
          <div class='row footprints-row manual-update-container' id='donation'>
            <div class='small-12 medium-9 large-9 column description-column'>
              <h2>
                <span aria-hidden="true" class="tid-icon icon-tid-charity"></span>
                <span>Small enough to change the world</span>
                <span>
                  <img class="logo-donation-project" alt="Fred Hollows Foundation" 
                  src="http://build.footprints.org.au/uploadimages/fhf_small.jpg" style="position: absolute; top: 0; right: 0;" />
                </span>
              </h2>
              <div class="input-group manual-update-container" data-analytics-id="option-donation">
                <label for="donate" class="multi-select">
                  Make a difference and give $
                  <input id="IsDonationProjectSelected" name="IsDonationProjectSelected" type="hidden" value="True" />
                  <select class="manual-update-trigger" id="QuoteDto_DonationAmount" name="QuoteDto.DonationAmount"><option selected="selected" value="0">0.00</option>
                    <option value="1">1.00</option>
                    <option value="2">2.00</option>
                    <option value="5">5.00</option>
                    <option value="10">10.00</option>
                  </select>
                  AUD
                  to:
                </label>
                <span class="manual-update">
                  <input type="submit" value="Update" name="UpdateDonation" class="button-tertiary" />
                </span>
              </div>
              <figure>
                <div class="donation-images small-12 medium-5 large-4 column">
                  <img class="preview-donation-project" alt="Blindness prevention program" 
                  src="http://build.footprints.org.au/uploadimages/hollows_camb_small.jpg" />
                </div>

                <figcaption class="donation-project-description small-12 medium-7 large-8 column">
                <h2>Blindness prevention program</h2>
                <p>

                </p>
                <ul class="list-actions list-horizontal">
                  <li>
                  <a href="http://build.footprints.org.au/default.aspx?c=10&amp;x1=13" class="find-out-more-link" target="_blank" data-analytics-id="option-donation-project-view">View project</a>
                  </li>
                  <li>
                  <input type="submit" class="choose-another-project-link link-like" 
                  name="OpenDonationProjects" value="Select a different project >" data-analytics-id="option-donation-project-change"/>
                  </li>
                </ul>
                </figcaption>
              </figure>
            </div>
            <div class='small-12 medium-3 large-3 column premium-column'>
              <span class="price-with-currency-medium">$0.00</span>
              <span class="price-description">Donation</span>
            </div>
          </div>

          <!-- Promo discount -->
          <div class='row promo-row manual-update-container' id='promotion-discount'>
            <div class='small-12 medium-9 large-9 column description-column'>
              <h2>
                <span aria-hidden="true" class="tid-icon icon-tid-promo"></span>
                <span>Have a campaign code?</span>
              </h2>



              <div class=" promotion-code-details" data-analytics-id="promo-code">
                <div class="input-group">
                  <label for="QuoteDto_PromotionCode">Enter code</label>
                  <input data-analytics-id="promo-code-value" id="QuoteDto_PromotionCode" name="QuoteDto.PromotionCode" type="text" value="" />
                  <button type="submit" name="SubmitPromotionCode" data-analytics-id="update-promo-code" class="button-tertiary">Update</button>
                </div>
              </div>
            </div>
            <div class='small-12 medium-3 large-3 column premium-column'>
              <span class="price-with-currency-medium">($0.00)</span>
              <span class="price-description">Discount</span>
            </div>
          </div>

          <!-- Purchase info row footer -->
          <div class='row purchase-info-row bottom'>
            <div class='small-12 medium-3 large-3 column price-column'>
              <strong class="options-total delta-size">Total</strong>
              <div class="price-display price-container">
                <span class="currency-symbol">$</span>
                <span class="price-value">
                  710.00
                </span>
              </div>
            </div>
            <div class='small-12 medium-4 small-4 column cta-column'>
              <button type="submit" class="button-primary continue-from-options" name="ShowTermsAndConditions" data-analytics-id="option-continue-top">
                Buy now <span aria-hidden='true' class='tid-icon icon-tid-button-arrow'></span>
              </button>
            </div>
          </div>
        </div>

        <div class='medium-12 large-3 columns'>
          <aside id="additional-content" data-analytics-id="options-side-bar-content">

            <h4>Contact us</h4>

            <ul class="contact-list">

              <li><a href="/customer/portal/emails/new" data-tooltip="" aria-haspopup="true" class="has-tip [tip-bottom] [radius round]" title="Our customer service team will respond to you privately."><span class="fa fa-envelope"></span>Email us</a></li>
              <li><a href="/customer/portal/questions/new" data-tooltip="" aria-haspopup="true" class="has-tip [tip-bottom] [radius round]" title="This will be visible on the public forum for the benefit of everyone."><span class="fa  fa-comment"></span>Post a question</a></li>
              <li><a href="https://www.facebook.com/TIDaustralia"><span class="fa fa-facebook"></span>Facebook</a></li>
              <li><a href="https://twitter.com/TIDaustralia"><span class="fa fa-twitter"></span>Twitter</a></li>
              <li><a href="https://plus.google.com/+travelinsurancedirect"><span class="fa fa-google-plus"></span>Google+</a></li>

            </ul>

          </aside>
        </div>
      </div>
    </section>

  </form>

</div>

<script>
$(function() {
    $('.manual-update button, .manual-update input').hide();

    $('.continue.button-primary').on('click', function(e) {
      e.preventDefault();
      $('.modal-content, .modal-overlay').hide();
      });
    });
</script>

{% endblock %}
