{% block title %}TID Pre ex flow{% endblock %}
{% block body_class %}pre-ex step-2{% endblock %}
{% block body_id %}pre-ex{% endblock %}
{% block content %}

<section id="main-content">

  <div class="blue-panel header-panel">
    <div class='row'>
      <div class='small-12 columns'>
        {% include "pp-breadcrumb" %}
        <h1>Pre existing conditions</h1>
      </div>
    </div>
  </div>

  <div class="global-messages-container"></div>

  <div class="row">
    <div class="pre-ex-path step-2">
      <div class="small-12 medium-9 columns">
        <h3>Pre-existing Medical conditions we cannot cover:</h3>
        <p>
        Unfortunately there are some conditions we can't cover, however this doesn't mean that you cannot buy our travel insurance.
        You can still buy and you will be covered as usual, the difference is that we will not be able to cover you for anything relating to your pre-existing conditions.
        </p>

        <p>This means for example that we will not be able to pay:</p>

        <ul class="pre-ex-notpayable">
          <li>your medical expenses whatsoever</li>
          <li>your evacuation or repatriation</li>
          <li>your trip cancellation or rearrangement costs</li>
          <li>any out of pocket expenses or additional expenses</li>
        </ul>

        <p>Below is a list of all the conditions where there is <span>NO COVER UNDER ANY CIRCUMSTANCE</span>. This applies to you, a member of your travelling party, a close relative or any other person.</p>

        <ol class="no-cover">
          <li>You have been given a terminal prognosis for any condition with a life expectancy of under 24 months.</li>
          <li>You have HIV or AIDS.</li>
          <li>Any condition for which you have been hospitalised (including day surgery) or attended the emergency department in the past 24 months.</li>
          <li>Any condition which arises from signs or symptoms that you are currently aware of, but:
          <ul>
            <li>a) you have not yet sought a medical opinion regarding the cause; or</li>
            <li>b) you are currently under investigation to define a diagnosis; or</li>
            <li>c) you are awaiting specialist opinion.</li>
          </ul>
          </li>
          <li>Any condition for which you have undergone surgery in the past 6 weeks.</li>
          <li>You have been diagnosed with any form of cardiovascular disease or received treatment for a related condition, such as but not limited to:
          <ul>
            <li>a) Congestive Heart Failure;</li>
            <li>b) Heart problems requiring coronary angiography, stents or bypass grafting (CABG);</li>
            <li>c) Cerebrovascular Accident (Stroke) or Transient Ischaemic Attack (TIA);</li>
            <li>d) A pacemaker or AICD (internal defibrillator);</li>
            <li>e) Angina (chest pain) within the last 6 months;</li>
          </ul>
          as described in the example for cardiovascular disease on page 27 of the Product Disclosure Statement.
          </li>
          <li>You have High Blood Pressure (Hypertension), High Blood Lipids (Hyperlipidaemia) or High Cholesterol (Hypercholesterolaemia) in combination with another known cardiovascular disease or diabetes.</li>
          <li>Deep Vein Thrombosis (DVT) or Pulmonary Embolism.</li>
          <li>Diabetes:
          <ul>
            <li>a) Which has been diagnosed in the past 12 months;</li>
            <li>b) Resulting in eye, kidney, nerve or vascular complications;</li>
            <li>c) Where you also suffer from cardiovascular disease, Hypertension, Hyperlipidaemia or Hypercholesterolaemia;</li>
            <li>d) Type I Diabetes where you are 50 years of age or over.</li>
          </ul>
          </li>
          <li>Epilepsy if you are on two or more anti-convulsant medications or your medication regime has changed in the past 12 months.</li>
          <li>Any condition which has caused a seizure in the past 12 months.</li>
          <li>Any respiratory disease, including but not limited to:
          <ul>
            <li>a) Emphysema;</li>
            <li>b) Chronic Obstructive Airways Disease (COAD);</li>
            <li>c) Chronic Obstructive Pulmonary Disease (COPD);</li>
            <li>d) Chronic Bronchitis;</li>
            <li>e) Cystic Fibrosis;</li>
            <li>f) Asthma, where you are 60 years of age or over and have any other respiratory disease.</li>
          </ul>
          You will also not be covered for any claims relating to a new airways infection or other respiratory illness.</li>
          <li>You require home oxygen therapy or you will require oxygen for the trip.</li>
          <li>Any condition for which you have ever required spinal or brain surgery.</li>
          <li>Any chronic or recurring pain (including back pain) requiring regular medication or other ongoing treatment such as physiotherapy or chiropractic treatment.</li>
          <li>Any type of cancer that you have previously been diagnosed with, or secondaries from that cancer.</li>
          <li>Any condition for which a surgery, treatment or procedure is planned, including any fertility treatment.</li>
          <li>You have chronic renal failure, treated by haemodialysis or peritoneal dialysis.</li>
          <li>You have had, or are on a waiting list for, an organ transplant.</li>
          <li>Sexually transmitted diseases.</li>
          <li>Any mental illness as defined by DSM-IV including but not limited to:
          <ul>
            <li>a) dementia, depression, anxiety, stress or other nervous condition.</li>
            <li>b) behavioural diagnoses such as autism.</li>
            <li>c) eating disorders.</li>
            <li>d) a drug or alcohol addiction</li>
          </ul>
          </li>
          <li>Any condition that requires ongoing treatment with prednisone or other immunosuppressant therapy.</li>
          <li>Pregnancy is not covered in any of the following circumstances:
          <ul>
            <li>a) for fertility treatment at any time, including any resulting pregnancy.</li>
            <li>b) if you have experienced any pregnancy complications prior to your policy being issued.</li>
            <li>c) a multiple pregnancy arising from services or treatment associated with an assisted reproductive program, including but not limited to in vitro fertilisation.</li>
            <li>d) a single pregnancy after 26 weeks.</li>
            <li>e) a multiple pregnancy after 19 weeks.</li>
            <li>f) for childbirth at any time.</li>
            <li>g) for regular antenatal care.</li>
            <li>h) care of a newborn child.</li>
          </ul>
          </li>
        </ol>

      </div>

      <div class="actions">
        <div class="accept panel-bg-highlight columns small-12 medium-6">

          <h4><span aria-hidden="true" class="tid-icon icon-tid-tick"></span>Yes</h4>

          <p>My Pre-existing Medical Condition is listed above and I understand that there's <span>NO COVER</span> for any costs relating to or associated with it.</p>

          <button type="submit" name="SubmitExcludedPreEx" class="button-primary">
            Continue &amp; Buy <span aria-hidden="true" class="tid-icon icon-tid-button-arrow"></span>
          </button>

        </div>
        <div class="decline panel-bg-highlight columns small-12 medium-6">

          <h4><span aria-hidden="true" class="tid-icon icon-tid-cross"></span>No</h4>
          <p>My condition is <span>NOT</span> listed above.</p>

          <button type="submit" name="ContinueExcludedPreEx" class="button-secondary">
            Continue to Next Step <span aria-hidden="true" class="tid-icon icon-tid-button-arrow"></span>
          </button>              

        </div>
      </div>

      <div class="travelclear columns small-12">
        <div class="travelclear-title">
          TravelClear
        </div>
        <div class="travelclear-description">
          <p>
            While we are unable to provide cover for these conditions, you may be able to obtain cover with TravelClear, which is designed for people with pre-existing medical conditions.
          </p>
          <p>
            You <a href="http://www.suresave.net.au/travel-insurance-pre-existing-medical-conditions?campaign=TIDTC13" target="_blank">can assess your pre-existing medical condition</a> in about 10 minutes.
          </p>
        </div>
      </div>
    </div>

  </div>


</section>


{% endblock %}
