{% block title %}Tripwise{% endblock %}
{% block content %}


<div class="header-panel blue-panel">

    <div class="row">
      <div class="large-7 small-12 columns">
        <div class="hero-info">
          <div class="row">
            <a class="tripwise-logo" href="https://itunes.apple.com/au/app/id567334051">
            <img src="/Media/Default/main/tripwise/tripwise-logo.png" class="x2" width="316" height="80"></a>
          </div>

          <div class="row">
            <h1>The smarter way to travel. Tips and advice to make the most of your trip.</h1>

            <a class="button dark-blue" href="https://itunes.apple.com/au/app/id567334051">Try it now for free</a>
          </div>

          <div class="row appstore-links">
            <a class="appstore-link apple" href="https://itunes.apple.com/au/app/id567334051"><img src="/Media/Default/main/tripwise/itunes-download.png" class="x2" width="135" height="45"></a> <a class="appstore-link google" href=
            "https://play.google.com/store/apps/details?id=au.com.tid.tripwise"><img src="/Media/Default/main/tripwise/google-download.png" class="x2" width="135" height="45"></a>
          </div>
        </div>
      </div>

      <div class="large-5 columns show-for-large-up text-center">
        <a class="hero-phone" href="https://itunes.apple.com/au/app/id567334051"><img src="/Media/Default/main/tripwise/iPhone5s-on-the-road.png" class="x2" width="335" height="535"></a>
      </div>
    </div>
</div>

<style type="text/css">
  .header-panel {
    background: url(/Media/Default/main/tripwise/bg-sunset-img.jpg) no-repeat center center;
    background-size: cover;
  }
  .tripwise-logo {
    padding: 40px 0;
    display: block;
  }
  .hero-phone {
    padding-top: 60px;
    display: block;
  }
  .feature-panel {
    padding-top: 40px;
    padding-bottom: 0px;
    border-top: solid 1px #d1d0cb;
    border-bottom: solid 1px #d1d0cb;    
  }
  .feature-content {
    padding-top: 60px; 
  }
  .feature-block-icon {
    width: 50px;
    position: relative;
    left: 0px;
  }
  .feature-block {
    padding-left: 60px;
  }
  [data-icon] {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    position: absolute;
  }
  [data-icon="1"] {
    background-image: url(/Media/Default/main/tripwise/phrasebook-icon.jpg);
  }
  [data-icon="2"] {
    background-image: url(/Media/Default/main/tripwise/policy-icon.jpg);
  }
  [data-icon="3"] {
    background-image: url(/Media/Default/main/tripwise/help-icon.jpg);
  }
  [data-icon="4"] {
    background-image: url(/Media/Default/main/tripwise/alert-icon.jpg);
  }
  .quote, .quote p {
    font-size: 20px;
    text-align: center;
    line-height: 1.2em;
    background-color: #F5F4F2;
  }
  .quote p.user {
    font-size: 16px;
  }
  .quote span.stars {
    //font-family: tripwise-icon;
    color: #ea3091;
  }
  .quote-container {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 80px;
  }
  .slider {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-panel {
     padding: 40px 0;
  }
  .footer-panel .tripwise-logo {
     display: inline-block;
  }
</style>
    
<div class="panel">
    <div class="row">
      <div class="slider large-8 large-offset-2 small-12 columns">
        <ul data-orbit="" class="quote-container">
          <li>
            <div class="quote">
              <p>"What a fantastic app, the stress of going to a country I've never been to has dwindled thanks to the tips and hints. Great job!"</p>

              <p class="user"><span class="stars">*****</span> - Knickers87 Jan 2013</p>
            </div>
          </li>

          <li>
            <div class="quote hide">
              <p>"Great app, full of very useful information for our forthcoming trip. Highly recommended."</p>

              <p class="user"><span class="stars">*****</span> - quidle Aug 2013</p>
            </div>
          </li>

          <li>
            <div class="quote hide">
              <p>"Highly recommended. Contains lots of useful travel tips and makes it easy to reference your policy if needed."</p>

              <p class="user"><span class="stars">*****</span> - b38st Sept 2013</p>
            </div>
          </li>

          <li>
            <div class="quote hide">
              <p>"This is perfect, all the information I ever needed for my trip in one easy to use app."</p>

              <p class="user"><span class="stars">*****</span> - Brett Stainlay Sept 2013</p>
            </div>
          </li>

          <li>
            <div class="quote hide">
              <p>"A very smooth &amp; comprehensive app that include lots of features, it even include a phrase book with audio of the countries languages you're visiting. I look forward to putting
              it to use in my travels."</p>

              <p class="user"><span class="stars">*****</span> - Dean Roberts Sept 2013</p>
            </div>
          </li>

          <li>
            <div class="quote hide">
              <p>"These guys have done a lot of homework - a lot of thought put into the content and tone of advice for the modern traveller."</p>

              <p class="user"><span class="stars">*****</span> - Prof Paws Sept 2013</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>

<div class="feature-panel">
  <div class="row show-for-small">
    <div class="text-center feature-img">
      <a class="feature-phone" href="https://itunes.apple.com/au/app/id567334051"><img src="/Media/Default/main/tripwise/iPhone5c-first24.jpg" class="x2" width="335" height="535"></a>
    </div>
  </div>

  <div class="row feature hide-for-small">
    
    <div class="medium-6 columns text-center">
        <a class="" href="https://itunes.apple.com/au/app/id567334051">
          <img src="/Media/Default/main/tripwise/iPhone5c-first24.jpg" class="x2" width="335" height="535">
        </a>
    </div>
  <div class="medium-6 columns">
      <div class="feature-content">
        <h3><a class="appstore-content-link" href="https://itunes.apple.com/au/app/id567334051">Get instant street smarts for your trip</a></h3>

        <h4>Tripwise puts expert advice in your pocket with important tips and information relevant to your trip and the countries you're visiting.</h4>

        <ul>
          <li>Passport, visa and vaccination requirements for your trip</li>

          <li>How to avoid common local scams</li>

          <li>How to get connected and avoid roaming fees while you're away</li>

          <li>How to deal with events impacting your trip</li>

          <li>When events happen in your destination, alerts and advice to keep you safe</li>

          <li>Local insights on culture and customs</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="large-10 large-offset-1 small-12 columns row-padded-top">
    <ul class="feature-blocks small-block-grid-1 large-block-grid-2">
      <li>
        <hr>

        <div class="feature-block-icon">
          <div data-icon="1" class="phrase-books"></div>
        </div>

        <div class="feature-block">
          <a id="features" name="features"></a>

          <h5><a class="appstore-content-link" href="https://itunes.apple.com/au/app/id567334051">Phrase Books</a></h5>

          <p>Up to 100 essential phrases so you'll be able to: Direct a tuk tuk, eat with the locals and buy all the souvenirs you'll ever need.</p>
        </div>
      </li>

      <li>
        <hr>

        <div class="feature-block-icon">
          <div data-icon="2"></div>
        </div>

        <div class="feature-block">
          <h5><a class="appstore-content-link" href="https://itunes.apple.com/au/app/id567334051">Your policy details in your pocket</a></h5>

          <p>Get all your travel insurance information in one safe location. You can even buy a policy before you go from the Tripwise app.</p>
        </div>
      </li>

      <li>
        <hr>

        <div class="feature-block-icon">
          <div data-icon="3"></div>
        </div>

        <div class="feature-block">
          <h5><a class="appstore-content-link" href="https://itunes.apple.com/au/app/id567334051">How to get help locally</a></h5>

          <p>Addresses and contact details for consulates, local police and ambulance services so you know who to call and where to go in case of an emergency.</p>
        </div>
      </li>

      <li>
        <hr>

        <div class="feature-block-icon">
          <div data-icon="4"></div>
        </div>

        <div class="feature-block">
          <h5><a class="appstore-content-link" href="https://itunes.apple.com/au/app/id567334051">Alerts and advice to keep you safe</a></h5>

          <p>Destination alerts and expert advice with important tips and information relevant to your trip and the countries you're visiting.</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row show-for-small">
  <div class="small-12 columns">
    <div class="row feature-content">
      <h3><a class="appstore-content-link" href="https://itunes.apple.com/au/app/id567334051">Get instant street smarts for your trip</a></h3>

      <h4>Tripwise puts expert advice in your pocket with important tips and information relevant to your trip and the countries you're visiting.</h4>

      <ul>
        <li>Passport, visa and vaccination requirements for your trip</li>

        <li>How to avoid common local scams</li>

        <li>How to get connected and avoid roaming fees while you're away</li>

        <li>How to deal with events impacting your trip</li>

        <li>When events happen in your destination, alerts and advice to keep you safe</li>

        <li>Local insights on culture and customs</li>
      </ul>
    </div>
  </div>
</div>

<div class="row footer-panel">
  <div class="small-12 large-centered text-center columns">
    <a class="tripwise-logo" href="https://itunes.apple.com/au/app/id567334051"><img src="/Media/Default/main/tripwise/tripwise-logo.png" class="x2" width="316" height="80"></a>

    <a class="appstore-link apple" href="https://itunes.apple.com/au/app/id567334051"><img src="/Media/Default/main/tripwise/itunes-download.png" class="x2" width="135" height="45"></a>
    <a class=
    "appstore-link google" href="https://play.google.com/store/apps/details?id=au.com.tid.tripwise"><img src="/Media/Default/main/tripwise/google-download.png" class="x2" width="135" height="45"></a>
    
  </div>
</div>

{% endblock %}