{% block title %}Travel Insurance to Bali: From $22{% endblock %}
{% block content %}
<style>

  .promo-content {
    list-style:none;
    margin-bottom:20px;
    margin-top:20px;
  }
  
  .feature-icon{
    float: left;
    margin-right: 19px;
    margin-bottom: 20px;
 
  }
  .feature-list ul li {
    list-style:none;
    margin-bottom:20px; 
  
  }
  .tidsmarter li {
    list-style:none;
    margin-bottom:20px;
  }
  
@media all and (min-width: 40em) {
#header {
    background: url('/Media/Default/main/hero-images/default_tripwise_desktop.jpg') no-repeat right bottom #00bae4;
    background-size: cover;
  }

}
@media all and (max-width: 64em) {
#header {
    background: url('/Media/Default/main/hero-images/default_tripwise_tablet.jpg') no-repeat right bottom #00bae4;
    background-size: cover;
  }

}
@media all and (max-width: 40em) {
#header {
    background: url('/Media/Default/main/hero-images/default_tripwise_phone.jpg') no-repeat right center #00bae4;
    background-size: bottom;
  }

}

</style>
<article class="content-item">
<div class="header-panel panel campaign-header" id="header">
  <div class="row">
    <div class="small-12 medium-10 large-10 column">
      <h1 class="white">Be Tripwise </br> on your travels</h1>
      <p class="white">Be just a TID travel smart with your smart phone.</br>
        <a class="tripwise-easy-download button pink small-12 medium-8 large-4" style="margin-top:30px;">Download now</a>
      </p>
      
    </div>
  </div>  
</div>
  
<div class="content-panel">
  <div class="row">
    <div class="small-12 medium-10 large-10 column">
      
<!-- Tripwise Content Start -->      
      
<div class="small-12 medium-4 large-4 column">
  <img src="/Media/Default/main/tripwise/members-tripwise-phones.png" />
</div>
<div class="small-12 medium-8 large-8 column">
  <h2>Get just a TID bit of free travel advice.</h2>
  <p>Access travel tips, advice and policy details on your phone while you&rsquo;re away. FREE download for iPhone &amp; Android.</p>
  <a class="tripwise-easy-download button blue">Download now</a>
        <script type="text/javascript">// <![CDATA[
        $(function() {
          // Change this each time the button is used - This allows us to split the source traffic on Google play to check users convert properly.
          var utm_campaign = 'Tripwise on TID AU';
          // Note that the utm_campaign should be double encoded
          var referrer_param = encodeURIComponent('utm_source=tid-au&utm_medium=web&utm_campaign=' + encodeURIComponent(utm_campaign));

          var google_play_url = 'https://play.google.com/store/apps/details?id=au.com.tid.tripwise';
          var google_play_attribtued_url = google_play_url + '&referrer=' + referrer_param;
          var app_store_url = 'https://itunes.apple.com/au/app/tripwise-travel-guide-phrase/id567334051';

          $('.tripwise-easy-download').off('click.ted').on('click.ted', function() {
            if (wng && wng.googleAnalytics) {
              wng.googleAnalytics.trackEvent('Tripwise', 'Clicked easy download link');
            }

            if (navigator.userAgent.match(/Android/i)) {
              window.location = google_play_attribtued_url;
            } else if (navigator.userAgent.match(/iPhone|iPod|iPad/i)) {
              window.location = app_store_url;
            } else {
              var download_selector = $("<div class='tripwise-download-selector'><h3>What kind of device would you like to download Tripwise on?</h3></div>");

              $(this).after(download_selector).remove();

              $("<a/>", {
                'html': "Get it for iPhone / iPad",
                'class': 'button-secondary',
                'href': app_store_url
              }).appendTo(download_selector);

              $("<a/>", {
                'html': "Get it for Android",
                'class': 'button-secondary',
                'href': google_play_url
              }).appendTo(download_selector);

            }

            return false;
          });
        });
        // ]]></script>
<div><img class="app-logo" src="/Media/Default/main/tripwise/badges-itunes.png" /><img src="/Media/Default/main/tripwise/badges-play.png" /></div>
  <style><!--
  .tripwise-easy-download {

    }

    .tripwise-easy-download:hover {
      text-decoration: none;
      color: white;
      background-color: #00762f;
      cursor: pointer;
    }

    .tripwise-download-selector a {
      margin-bottom: 16px;
    }
  --></style>
</div>
</div>
</div>

<hr>    
    
<div class="row">
  <div class="small-12 medium-12 large-12 column">
    
    <ul>
      <li class="promo-content">"Highly recommended. Contains lots of useful travel tips and makes it easy to reference your policy when needed."
      <div><img class="stars" width="85" height="15" src="/Media/Default/main/tripwise/5-stars-pink.gif" /><span>- b38st Sept 2013</span></div>
      </li>
      <li class="promo-content">"These guys have done a lot of homework - a lot of thought put into the content and tone of advice for the modern traveller."
      <div><img class="stars" width="85" height="15" src="/Media/Default/main/tripwise/5-stars-pink.gif" /><span>- Prof Paws Sept 2013</span></div>
      </li>
      <li class="promo-content">"Great app, full of very useful information for our forthcoming trip. Highly recommended."
      <div><img class="stars" width="85" height="15" src="/Media/Default/main/tripwise/5-stars-pink.gif" /><span>- quidle Aug 2013</span></div>
      </li>
    </ul>
    
  </div>
</div>  

<hr>
    
<div class="row">
  <div class="small-0 medium-4 large-4 column">
    <img src="/Media/Default/main/tripwise/iPhone5c-first24.jpg" />
  </div>
  <div class="small-0 medium-8 large-8 column">  
  <h2>Be just a TID travel smart with your smart phone.</h2>
  <p class="promo-content">Tripwise provides expert advice, important tips and helpful information relevant to the countries you&rsquo;re visiting. It&rsquo;s just a TID bit like having a local in your pocket.</p>
  <ul class="tidsmarter">
  <li><span> ✓ Passport, visa &amp; vaccination requirements for your trip</span></li>
  <li><span> ✓ How to avoid common local scams</span></li>
  <li><span> ✓ How to get connected and avoid roaming fees while you're away</span></li>
  <li><span> ✓How to deal with events impacting your trip</span></li>
  <li><span> ✓When events happen in your destination, alerts and advice to keep you safe</span></li>
  <li><span> ✓Local insights on culture and customs</span></li>
  <li><span> ✓Local consulates &amp; hospitals</span></li>
  <li><span> ✓ How to get help in an emergency</span></li>
  </ul>
  </div>
</div>

<hr>
    
<div class="row">
  <div class="small-0 medium-10 large-10 column">
    <div class="feature-list">
      <ul>
      <li><span class="feature-icon"><img src="/Media/Default/main/tripwise/phrasebook-icon.jpg" /></span>
      <h4 class="content-title">Phrase Books</h4>
      <p>Up to 100 essential phrases so you'll be able to: Direct a tuk tuk, eat with the locals and buy all the souvenirs you'll ever need.</p>
      </li>
      <li><span class="feature-icon"><img src="/Media/Default/main/tripwise/help-icon.jpg" /></span>
      <h4 class="content-title">How to get help locally</h4>
      <p>Addresses and contact details for consulates, local police and ambulance services so you know who to call and where to go in case of an emergency.</p>
      </li>
      <li class="alerts"><span class="feature-icon"><img src="/Media/Default/main/tripwise/alert-icon.jpg" /></span>
      <h4 class="content-title">Alerts and advice to keep you safe</h4>
      <p>Destination alerts and expert advice with important tips and information relevant to your trip and the countries you're visiting.</p>
      </li>
      <li class="policy"><span class="feature-icon"><img src="/Media/Default/main/tripwise/policy-icon.jpg" /></span>
      <h4 class="content-title">Your policy details in your pocket</h4>
      <p>Get all your travel insurance information in one safe location. You can even buy a policy before you go from the Tripwise app.</p>
      </li>
      </ul>
    </div>
  </div>
</div>
    
<hr>

<div class="row">
  <div class="small-12 medium-12 large-10 column">
    <div class="flex-video">
    <iframe src="//www.youtube.com/embed/SadK6QjpMko?rel=0&amp;autoplay=0" width="704" frameborder="0" height="396"></iframe>
    </div>
  </div>
</div>    
    
<div class="row">
  <div class="small-12 medium-12 large-10 column">    
<div class="footer-appstore-links">
  
  <a class="tripwise-logo" href="https://itunes.apple.com/au/app/id567334051">
    <img src="/Media/Default/main/tripwise/tripwise-logo.png" alt="Tripwise" width="280" height="70" /></a> 
  <a href="https://itunes.apple.com/au/app/id567334051" class="appstore-link apple">
     <img src="/Media/Default/main/tripwise/itunes-download.png" alt="App Store" width="133" height="44" /></a>
  <a href="https://play.google.com/store/apps/details?id=au.com.tid.tripwise" class="appstore-link google">
    <img src="/Media/Default/main/tripwise/google-download.png" alt="Google Play Store" width="133" height="44" /></a>
    
<div class="aggregate-rating"><span itemscope="" itemtype="http://schema.org/Product"> <span itemprop="name"> Tripwise </span> is <span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating"> rated <span itemprop="ratingValue">4.8 stars</span> out of <span itemprop="bestRating">5</span> from <span itemprop="reviewCount"> 118 </span> customer reviews.<meta itemprop="worstRating" content="1" /></span> </span></div>
</div>
</div>
</div> 
      
<!-- Tripwise Content End -->         
      
    </div>
  </div>
</div>
  

  
<div class="content-panel content" id="campaign-qqw">
  <div class="row header">
    
    
  <!--   TID QQWidget Container    -->

    <div class="row qqw-full-width blue-panel">
      <div class="small-12 column">

        <!--  Include QQWidget  -->
        {% include "qqw" %}

      </div> 
      <div class="benefits-bar blue left">

        <!--  Include Benefits Bar  -->
        {% include "benefits-bar" %}

      </div>  
    </div>

  <!-- QQW Container END -->
    
    
  </div>
</div>
  
<div class="content-panel content benefits-panel">  
  <!-- Include Benefits Panel Widget -->
  {% include "benefits-panel" %}  
</div>  
  
</article>

{% endblock %}